.leads-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 1rem;
  box-sizing: border-box;
}


.card-container {
  display: flex;
  flex-direction: row;      
  gap: 2rem;                
  overflow-x: auto;        
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;         
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgb(245, 245, 245);     
  border: 1px solid #ccc; 
  margin-top: 5rem;    
}

.card-container > * {
  flex: 0 0 auto;           
  max-width: 100%;
  scroll-snap-align: start; 
}

.empty-state{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}



// essa media query é para ajustar o tamanho dos cards em tablets by gs #SEARCHQUERY
@media (min-width: 768px) and (max-width: 1366px) {
  .card-container {
    max-width: 90vw;
  }
}
