.leads-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title > h1 {
  font-size: 2rem;
  color: #3c83f6;
  
}

.card-container {
  display: flex;
  flex-direction: row;      
  gap: 2rem;                
  overflow-x: auto;        
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;         
  box-sizing: border-box;
  padding-bottom: 1rem;
  padding-left: 0;          
}

.card-container > * {
  flex: 0 0 auto;           
  max-width: 500px;
  scroll-snap-align: start; 
}

.empty-state{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}


@media (max-width: 480px) {
  .card-container {
    gap: 1rem;
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {

    max-width: 80rem;
    padding: 0;
  }
}


