<div class="panel-container">
  <p-toast position="top-center"></p-toast>
  <app-card-base header="Transferência De Endereço" width="auto" height="auto">
    <div class="btn-to-back">
      <p-button
        icon="pi pi-arrow-left"
        [rounded]="true"
        severity="danger"
        [raised]="true"
        [size]="'large'"
        (onClick)="btnToBack()"
      />
    </div>
    <div class="contrNumber__header">
      <label>Contrato a ser alterado:</label>
      <span>#{{ currentContract.codeContractRbx }}</span> 
    </div>
    <div class="content">
      <ng-template #avisoInvalido>
        <div class="alert-warning">
          ⚠️ Para prosseguir, volte ao passo anterior e preencha todos os campos
          obrigatórios.
        </div>
      </ng-template>
  
      <p-stepper [(value)]="activeStep">
        <p-step-list>
          <p-step [value]="1">Endereço</p-step>
          <p-step [value]="2">Termo de Consentimento</p-step>
          <p-step [value]="3">Assinatura</p-step>
          <p-step [value]="4">Pagamento</p-step>
        </p-step-list>

        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="p-d-flex p-jc-between p-ai-center"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <p-divider>
                  <h1 class="title-address-form">Endereço de Instalação</h1>
                </p-divider>
              </div>

              <p-button
                class="btn-edit"
                [label]="isEditingAddress ? 'Cancelar' : 'Alterar Endereço'"
                [severity]="isEditingAddress ? 'danger' : 'secondary'"
                [icon]="isEditingAddress ? 'pi pi-times' : 'pi pi-pencil'"
                [outlined]="isEditingAddress"
                (onClick)="toggleEditingAddress()"
              ></p-button>

              <form #addressNewNgForm="ngForm" class="form-container">
                <div class="form-content">
                  <div class="input-content">
                    <div class="msg-error">
                      <app-message-valid-forms
                        [control]="cep"
                        error="required"
                        text="O CEP é obrigatório"
                      ></app-message-valid-forms>
                    </div>
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-map-marker"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          id="CEP"
                          name="cep"
                          type="text"
                          pInputText
                          [mask]="'00000-000'"
                          [(ngModel)]="addressNewForm.zipCode"
                          #cep="ngModel"
                          required
                          (blur)="searchCEP()"
                          [disabled]="!isEditingAddress"
                        />
                        <label for="CEP">CEP:</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="input-content">
                    <div class="msg-error">
                      <app-message-valid-forms
                        [control]="street"
                        error="required"
                        text="Campo obrigatório"
                      ></app-message-valid-forms>
                    </div>
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-home"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          id="address-street"
                          name="street"
                          type="text"
                          pInputText
                          [(ngModel)]="addressNewForm.street"
                          #street="ngModel"
                          required
                          [disabled]="!isEditingAddress"
                        />
                        <label for="address-street">Logradouro:</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="input-content">
                    <div class="msg-error">
                      <app-message-valid-forms
                        [control]="numberFromHome"
                        error="required"
                        text="Campo obrigatório"
                      ></app-message-valid-forms>
                    </div>
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-bell"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          id="address-number"
                          name="numberFromHome"
                          type="number"
                          pInputText
                          [(ngModel)]="addressNewForm.numberFromHome"
                          #numberFromHome="ngModel"
                          required
                          [disabled]="!isEditingAddress"
                        />
                        <label for="address-number">N° Casa/Apartamento:</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="input-content">
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-building"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          id="address-complement"
                          name="complement"
                          type="text"
                          pInputText
                          [(ngModel)]="addressNewForm.complement"
                          #complement="ngModel"
                          [disabled]="!isEditingAddress"
                        />
                        <label for="address-complement">Complemento:</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="input-content">
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-paperclip"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          pInputText
                          id="cidade"
                          name="cidade"
                          [(ngModel)]="addressNewForm.city"
                          #cidade="ngModel"
                          [disabled]="!isEditingAddress"
                        />
                        <label for="cidade">Cidade</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="input-content">
                    <div class="msg-error">
                      <app-message-valid-forms
                        [control]="uf"
                        error="required"
                        text="UF é obrigatório"
                      ></app-message-valid-forms>
                    </div>
                    <p-inputgroup>
                      <p-inputgroup-addon
                        ><i class="pi pi-map-marker"></i
                      ></p-inputgroup-addon>
                      <p-iftalabel>
                        <input
                          id="UF"
                          name="uf"
                          type="text"
                          pInputText
                          [mask]="'AA'"
                          [(ngModel)]="addressNewForm.uf"
                          #uf="ngModel"
                          required
                          [disabled]="!isEditingAddress"
                        />
                        <label for="UF">UF:</label>
                      </p-iftalabel>
                    </p-inputgroup>
                  </div>

                  <div class="text-area-content">
                    <p-iftalabel>
                      <textarea
                        id="observation"
                        name="observation"
                        pTextarea
                        [autoResize]="true"
                        rows="5"
                        cols="30"
                        [(ngModel)]="addressNewForm.observation"
                        #observation="ngModel"
                        style="width: 100%"
                        [disabled]="!isEditingAddress"
                      ></textarea>
                      <label for="observation">Observação:</label>
                    </p-iftalabel>
                  </div>

                  <p-divider>
                    <h1 class="title-address-form">Pagamento</h1>
                  </p-divider>

                  <div class="payment">
                    <p-select
                      class="paymentForm"
                      [options]="paymentMethods"
                      [(ngModel)]="addressNewForm.paymentForm"
                      name="paymentMethod"
                      placeholder="Forma de Pagamento"
                      appendTo="body"
                      [disabled]="!isEditingAddress"
                    >
                    </p-select>
                    <p-inputgroup class="payment-value">
                      <p-inputgroup-addon>R$</p-inputgroup-addon>
                      <p-inputNumber
                        name="adesionValue"
                        placeholder="Valor de Adesão"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        [(ngModel)]="addressNewForm.adesionValue"
                        #adesionValue="ngModel"
                        [disabled]="!isEditingAddress"
                      >
                        ></p-inputNumber
                      >
                    </p-inputgroup>
                  </div>
                </div>
              </form>
              <div class="btn-actions">
                <p-button
                  label="Verificar Oferta"
                  size="large"
                  severity="info"
                  icon="pi pi-check"
                  raised="true"
                  (click)="openDialogOs()"
                />
                <p-button
                  label="Verificar Cabeamento"
                  size="large"
                  severity="warn"
                  raised="true"
                  icon="pi pi-wifi"
                />

                <div class="btn-step1-prox">
                  <p-button
                    severity="success"
                    rounded="true"
                    raised="true"
                    size="large"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    label="Próximo"
                    (onClick)="meuMetodoExtra(); activateCallback(2)"
                    [disabled]="!isAddressValid || !isAddressDataChanged"
                    tooltipPosition="top"
                  />
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div *ngIf="formIsValid; else avisoInvalido">
                <div class="fluxo-container">
                  <!-- CARD 1 - ONLINE -->
                  <div class="fluxo-card online">
                    <div class="fluxo-header">
                      🖥️
                      <h3>Atendimento Online</h3>
                    </div>
                    <div class="fluxo-body">
                      <p>
                        Envie o termo diretamente para assinatura online via
                        Autentique. Ideal para clientes atendidos por WhatsApp
                        ou Telefone
                      </p>
                    </div>
                    <div class="fluxo-footer">
                      <p-button
                        label="Enviar Contrato"
                        icon="pi pi-send"
                        severity="warn"
                        [raised]="true"
                        (onClick)="abrirModal()"
                        [style]="{ padding: '2rem 4rem' }"
                      ></p-button>
                    </div>
                  </div>

                  <!-- CARD 2 - PRESENCIAL -->
                  <div class="fluxo-card presencial">
                    <div class="fluxo-header">
                      🤝
                      <h3>Atendimento Presencial</h3>
                    </div>
                    <div class="fluxo-body">
                      <p>
                        Gere o termo para assinatura manual presencial. A
                        assinatura será inserida automaticamente no documento.
                      </p>
                    </div>
                    <div class="fluxo-footer">
                      <p-button
                        label="Assinatura Manual"
                        icon="pi pi-file-edit"
                        severity="success"
                        [raised]="true"
                        [style]="{ padding: '2rem 4rem' }"
                        (onClick)="goToStep(3)"
                      ></p-button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btn-to-back-step">
                <p-button
                  label="Voltar"
                  icon="pi pi-arrow-left"
                  severity="secondary"
                  rounded="true"
                  size="large"
                  [raised]="true"
                  (onClick)="goToStep(1)"
                ></p-button>
              </div>
            </ng-template>
          </p-step-panel>

        

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
               <div *ngIf="isLoadingPreview" class="loading-overlay">
            <p-progressSpinner
              styleClass="w-6rem h-6rem"
              strokeWidth="6"
              animationDuration=".5s"
            ></p-progressSpinner>
            <span class="loading-text">
              Aguarde enquanto o PDF é gerado...</span
            >
          </div>
              <div *ngIf="formIsValid; else avisoInvalido">
                <div class="pdf-preview-section p-mb-3">
                  <div
                    *ngIf="previewLoadFailed && !isLoadingPreview"
                    class="p-mt-2 text-center p-text-danger"
                  >
                    <p>
                      <i class="pi pi-exclamation-triangle p-mr-1"></i> Falha ao
                      carregar o preview.
                    </p>
                    <p-button
                      label="Tentar Novamente"
                      icon="pi pi-refresh"
                      styleClass="p-button-sm p-button-danger p-button-outlined"
                      (click)="loadPdfPreview()"
                    ></p-button>
                  </div>

                  <div
                    *ngIf="safePdfPreviewUrl && !isLoadingPreview"
                    class="pdf-viewer p-mt-2"
                  >
                    <iframe
                      [src]="safePdfPreviewUrl"
                      width="100%"
                      height="600px"
                      style="border: 1px solid #ccc"
                    ></iframe>
                    <div class="btn-signature">
                      <p-button
                        label="Assinar"
                        icon="pi pi-pencil"
                        styleClass="p-button-sm"
                        severity="info"
                        rounded="true"
                        raised="true"
                        (click)="abrirAssinatura()"
                      ></p-button>
                      <p-button
                        label="Capturar"
                        icon="pi pi-camera"
                        (click)="cameraInput.click()"
                        styleClass="p-button-sm"
                        severity="info"
                        rounded="true"
                        raised="true"
                      ></p-button>
                      <p-button
                        label="Salvar"
                        icon="pi pi-download"
                        styleClass="p-button-sm p-button-success"
                        (click)="savePdf()"
                        [disabled]="!safePdfPreviewUrl"
                        rounded="true"
                        raised="true"
                      ></p-button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="camera-section p-mt-4 p-mb-3">
                <input
                  type="file"
                  accept="image/*"
                  capture="environment"
                  (change)="onFotoCapturada($event)"
                  style="display: none"
                  #cameraInput
                />
              </div>

              <div class="btn-to-navigate">
                <p-button
                  label="Voltar"
                  icon="pi pi-arrow-left"
                  severity="secondary"
                  rounded="true"
                  size="large"
                  [raised]="true"
                  (onClick)="activateCallback(2)"
                />
                <p-button
                  severity="success"
                  rounded="true"
                  raised="true"
                  size="large"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  label="Próximo"
                  (onClick)="activateCallback(4)"
                />
              </div>
            </ng-template>
          </p-step-panel>


<p-step-panel [value]="4">
  <ng-template #content let-activateCallback="activateCallback">
    
    <div *ngIf="isSubmitting" class="loading-overlay">
     <p-progressSpinner
              styleClass="w-6rem h-6rem"
              strokeWidth="6"
              animationDuration=".5s"
            ></p-progressSpinner>
      <span class="loading-text">Processando alteração...</span>
    </div>

    <div *ngIf="finalization; else estadoConfirmacao">
      <div class="step-finalization">
        <div class="step-body">
          
          <div class="table-finalization">
            <p-table [value]="[
                 { campo: 'Cliente', valor: result?.clientName },
                 { campo: 'CPF/CNPJ', valor: formatCpfCnpj(result?.clientCpf) },
                 { campo: 'Contrato', valor: result?.contrato },
                 { campo: 'Novo Endereço', valor: result?.novoEndereco },
                 { campo: 'Valor da Adesão', valor: result?.adesionValue, isCurrency: true },
                 { campo: 'Documento', valor: result?.documentoRbx },
                 { campo: 'Boleto', valor: 'link' }
               ]">
              
              <ng-template pTemplate="header">
                <tr>
                  <th>Resumo da Operação</th>
                  <th> </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-row>
                <tr>
                  <td><strong>{{ row.campo }}</strong></td>
                  
                  <td *ngIf="row.valor !== 'link'">
                    <span *ngIf="row.isCurrency">{{ row.valor | currency:'BRL':'symbol':'1.2-2' }}</span>
                    <span *ngIf="!row.isCurrency">{{ row.valor }}</span>
                  </td>
                  
                  <td *ngIf="row.valor === 'link'">
                    <a *ngIf="result?.linkBoleto" [href]="result?.linkBoleto" target="_blank">
                      Clique para abrir o boleto
                    </a>
                    <span *ngIf="!result?.linkBoleto" style="color: #999;">
                      (Sem boleto gerado)
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="button-finalization">
            <p-button 
              label="Voltar ao Menu do Cliente" 
              icon="pi pi-home" 
              severity="success"
              [raised]="true" 
              [rounded]="true" 
              size="large"
              (onClick)="navigateToInfoClient()">
            </p-button>
          </div>

        </div>
      </div>
    </div>

    <ng-template #estadoConfirmacao>
       <div class="step-footer" style="margin-top: 2rem;">
          <div class="proportional-info" style="background-color: #f0f9ff; border-left: 4px solid #0ea5e9; padding: 1.5rem; margin-bottom: 2rem; border-radius: 4px; text-align: center;">
             <span class="footer-title" style="font-weight: 600; color: #0c4a6e; font-size: 1.2rem; display: block;">
               Deseja confirmar a alteração de endereço?
             </span>
             <div style="margin-top: 0.5rem; color: #334155;">
                Verifique se o termo foi assinado corretamente antes de prosseguir.
             </div>
          </div>
          
          <div class="footer-actions" style="display: flex; justify-content: center; gap: 1rem;">
             <p-button 
                label="Voltar" 
                severity="secondary" 
                icon="pi pi-arrow-left" 
                size="large"
                [raised]="true" 
                [rounded]="true"
                (onClick)="activateCallback(3)">
             </p-button>
             
             <p-button 
                label="Confirmar Alteração" 
                severity="help" 
                icon="pi pi-check" 
                size="large"
                [raised]="true" 
                [rounded]="true"
                [disabled]="!(pdfBlobFinal || pdfWasDownloaded)" 
                (onClick)="onConfirmAddressChange()">
             </p-button>
          </div>
       </div>
    </ng-template>

  </ng-template>
</p-step-panel>
        </p-step-panels>
      </p-stepper>
    </div>
  </app-card-base>

  <p-dialog
    header="Confirmar Foto Capturada"
    [(visible)]="isPreviewDialogVisible"
    [modal]="true"
    [style]="{ width: '90vw', 'max-width': '600px' }"
    (onHide)="limparPreview()"
  >
    <div *ngIf="thumbnailPreview" class="text-center">
      <img
        [src]="thumbnailPreview"
        alt="Preview da foto capturada"
        style="
          width: 100%;
          height: auto;
          max-height: 60vh;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-bottom: 1rem;
        "
      />
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Descartar"
        icon="pi pi-times"
        (click)="limparPreview()"
        styleClass="p-button-danger p-button-text"
      ></p-button>

      <p-button
        label="Salvar Foto"
        icon="pi pi-save"
        (click)="salvarFotoCapturada()"
        styleClass="p-button-success"
        [disabled]="!fotoCapturadaFile"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Assinatura Online 🖋️"
    [(visible)]="signDialogVisible"
    (onShow)="forceSignatureRedraw()"
    (onHide)="resetSignaturePad()"
  >
    <div class="signature-pad-container">
      <div class="signature-input">
        <p-iftalabel>
          <label for="signature">Assinatura Online (Opcional):</label>
          <ng-container *ngIf="signatureVisibleFlag">
            <app-signature-pad #signaturePadInDialog> </app-signature-pad>
          </ng-container>
        </p-iftalabel>
      </div>
    </div>

    <p-divider layout="horizontal" styleClass="p-my-3"></p-divider>

    <div class="btn-to-capture">
      <div class="btn-to-generate-contract">
        <p-button
          label="Gerar Termo Final com Assinatura"
          icon="pi pi-file-pdf"
          [outlined]="true"
          size="large"
          severity="info"
          variant="outlined"
          [loading]="isLoadingPreview"
          (onClick)="captureAndGenerate()"
        ></p-button>
      </div>
    </div>
  </p-dialog>

  <!-- Modal -->
  <p-dialog
    header="Enviar Via WhatsApp ⚙️"
    [(visible)]="modalVisible"
    [modal]="true"
    [closable]="true"
    resizable="false"
    [draggable]="false"
    (onHide)="onHide()"
  >
    <div class="dialog-content">
      <div class="icon-container">
        <i class="pi pi-whatsapp whatsapp-icon"></i>
      </div>

      <div class="alert-box">
        <div class="alert-icon-circle">!</div>
        <p class="alert-text">
          Após a assinatura do documento pelo cliente via Autentique,<br />
          o sistema processará automaticamente a atualização dos dados<br />
          do contrato no RBX, vinculará um atendimento ao cliente<br />
          e anexará o documento assinado.<br /><br />
          Você será notificado assim que a assinatura for concluída<br />
          e poderá consultar o atendimento diretamente no cadastro do cliente.
        </p>
      </div>

      <!-- Mensagem informativa -->
      <p class="info-text">
        Certifique-se de que o número está correto, caso contrário, poderá ser
        enviado para outra pessoa!<br />
        O termo será enviado pela Autentique para o cliente assinar via WhatsApp
        📄✅ <br />
        Digite o número no formato <strong>+55</strong> (DDD + Número).<br />
      </p>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-whatsapp"></i>
        </p-inputgroup-addon>

        <input
          pInputText
          id="telefone"
          name="telefone"
          placeholder="+55 (DDD) 00000-0000"
          [(ngModel)]="phone"
          required
          [style]="{ height: '40px', 'font-size': '20px' }"
          mask="00000000000"
          prefix="+55"
          #phoneModel="ngModel"
        />
      </p-inputgroup>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        severity="secondary"
        (onClick)="onHide()"
      ></p-button>
      <p-button
        label="Enviar"
        icon="pi pi-send"
        severity="success"
        [disabled]="!phone || phone.trim().length < 10"
        (onClick)="sendToAutentiqueSubmit()"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>



<p-dialog
  [header]="'Ofertas Disponíveis'"
  [resizable]="false"
  [draggable]="false"
  [(visible)]="dialogOs"
  [style]="{ width: '60vw', height: '30vw' }"
  class="dialogOs"
>
  <div class="linhaDropdown">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-ticket"></i>
      </p-inputgroup-addon>
      <p-iftalabel>
        <p-select
          [options]="cities"
          [(ngModel)]="selectedCity"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione"
          name="planos"
          required
          id="plan"
          (onChange)="reloadTable()"
        >
        </p-select>
        <label for="planos">Cidade</label>
      </p-iftalabel>
    </p-inputgroup>
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-ticket"></i>
      </p-inputgroup-addon>
      <p-iftalabel>
        <p-select
          [options]="typeOs"
          [(ngModel)]="selectedTypeOs"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione"
          name="planos"
          required
          id="plan"
          (onChange)="reloadTable()"
        >
        </p-select>
        <label for="planos">Tipo de OS</label>
      </p-iftalabel>
    </p-inputgroup>
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-ticket"></i>
      </p-inputgroup-addon>
      <p-iftalabel>
        <p-select
          [options]="periodsOs"
          [(ngModel)]="selectedPeriodOs"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione"
          name="planos"
          required
          id="plan"
          (onChange)="reloadTable()"
        >
        </p-select>
        <label for="planos">Períodos</label>
      </p-iftalabel>
    </p-inputgroup>
  </div>
  <div class="divider">
    <p-divider></p-divider>
  </div>
  <div class="table">
    <p-table
      #osTable
      header="OS"
      [paginator]="true"
      [rows]="8"
      [lazy]="true"
      (onLazyLoad)="loadOffers($event)"
      [value]="offers"
      [totalRecords]="totalRecords"
    >
      <!-- Cabeçalho -->
      <ng-template pTemplate="header">
        <tr>
          <th>Cidade</th>
          <th>Tipo OS</th>
          <th>Data</th>
          <th>Período</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </ng-template>

      <!-- Corpo -->
      <ng-template pTemplate="body" let-offer>
        <tr>
          <td>{{ offer.city }}</td>
          <td>{{ offer.typeOfOs }}</td>
          <td>{{ offer.date }}</td>
          <td>{{ offer.period }}</td>
          <td>{{ offer.total }}</td>
          <td>
             <button
              pButton
              size="small"
              icon="pi pi-stop-circle"
              severity="info"
              rounded="true"
              raised="true"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="emptytable">
            Não foi encontrado nenhum resultado para essa pesquisa.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
