.panel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

}

.title-address-form {
    font-size: 1.5rem;
    margin: 0 auto;
}

.form-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 30rem;
    min-width: 50rem;
    padding: 1rem;
    gap: 1rem;
    padding: 0.1rem;
    margin: 1rem;
}


.form-content {
    gap: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.material-symbols-outlined {
    font-size: 1.2rem;
}

.input-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(33.33% - 1rem);
    position: relative; 
    padding-top: 0.9rem;
    margin-bottom: 1rem;
}

.text-area-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.btn-actions {
  margin-bottom: 1rem;
  padding: 0.2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  padding-bottom: 0rem;
  margin: 0.9rem;
}


.input-content-os {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    label,
    input {
        width: 100%;
        text-align: start;
    }
}

.os-content {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.btn-to-navigate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.signature-pad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 31.25rem;
    min-width: 50rem;
    width: 100%;
}

.signature-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;

    label {
        width: 100%;
        text-align: start;
    }
}

.btn-to-capture {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.btn-to-signature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.btn-to-generate-contract {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 5rem;
}

.payment-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-actions-payment {
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 5rem 0 0;
}



.finish-process {
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}


.btn-to-back-to-contract {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem 0 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}

.p-stepper {
    position: relative;
    background-size: cover;
    border-radius: 0.75rem;
    overflow: hidden;
    height: auto;
    --p-stepper-separator-background: #000000;

    --p-stepper-step-title-color: #4e4d4d;
    --p-stepper-step-title-active-color: #000000;

    --p-stepper-step-number-background: #ffffff;
    --p-stepper-step-number-active-background: #004e9b;
    --p-stepper-step-number-color: #004e9b;
    --p-stepper-step-number-active-color: #ffffff;
    --p-stepper-step-number-font-size: 2rem;

    --p-stepper-separator-background: #375ca4;
    --p-stepper-separator-active-background: #000000;
}


@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

:host ::ng-deep .p-stepper .p-step-title {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1.1rem !important;
    background-color: #ffffff;
    padding: 0.2rem;
    border-radius: 3px;
}

:host ::ng-deep .p-stepper .p-step.p-step-active .p-step-title {
    background-color: #5ccdf9;
    color: #000000;
    border: 0.5px solid #000000;
    box-shadow: 0 0 5px rgba(0.1, 0.3, 0.2, 0.4);
    font-weight: 700 !important;
}


:host ::ng-deep p-iftalabel label {
    padding: 0;
    padding-top: 0;
}

.msg-error {
    position: absolute;  
    bottom: 100%;  
    top: 0;
    left: 5px; 
    width: 100%;
    z-index: 2; 
    white-space: nowrap;
}

.btn-to-back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0.5rem 0;
}

// CSS para o seu componente

.dialog-form-container {
  display: flex;         // Ativa o layout flexível
  flex-wrap: wrap;       // Permite que os itens quebrem para a próxima linha
  gap: 1.5rem 1rem;      // Mágica! Espaço de 1.5rem vertical e 1rem horizontal entre os campos
}

// Estilo para campos que ocupam "metade" da largura
.form-field {
  // A fórmula para 2 colunas com um gap de 1rem:
  flex: 1 1 calc(50% - 0.5rem); 
  box-sizing: border-box;
}

// Estilo para campos que ocupam a largura TOTAL
.form-field-full {
  flex: 1 1 100%;
  box-sizing: border-box;

}

// Garante que o input dentro do PrimeNG ocupe todo o espaço do seu container
:host ::ng-deep .form-field .p-inputtext,
:host ::ng-deep .form-field-full .p-inputtext,
:host ::ng-deep .form-field-full .p-inputtextarea {
  width: 100%;
}