/* card-base.component.scss */
.cardbase {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.mac-dots {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 1000; 
  text-align: center;
}

.dot {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #ff5f56;
}
.yellow {
  background-color: #ffbd2e;
}
.green {
  background-color: #27c93f;
}

:host ::ng-deep input[pInputText]:focus {
  border-color: #4da3ff !important;
  box-shadow: 0 0 0 0.2rem rgba(77, 163, 255, 0.3) !important;
}

.cardbase ::ng-deep .p-card {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5); /* sombra mais densa */
  border-radius: 1rem; /* bordas suaves */
  border: 1px solid rgb(89, 87, 87); /* contorno azul */
}

