<div class="card-wrapper">
    <app-card-base width="auto" height="auto">
        <div class="container">
    <p-divider  class="title">
                <h1 class="title">Adicionar Fotos</h1>
            </p-divider>
            
            <!-- Botões de upload -->
            <div class="btn-to-add-images" >
                <div>
                    <p-button styleClass="btn-frente" iconPos="top" size="large" severity="info" />
                </div>
                <div>
                    <p-button styleClass="btn-verso" iconPos="top" size="large" severity="info" />
                </div>
            </div>

            <!-- Carousel de imagens -->
            <div class="images-to-watch">
                <p-carousel [value]="images" [numVisible]="3" [numScroll]="1" [circular]="false" [showIndicators]="true"
                    [showNavigators]="true"  [responsiveOptions]="responsiveOptions">

                    <ng-template pTemplate="item" let-image>
                        <div class="image-item">
                            <img [src]="image.src" [alt]="image.alt" />
                            <p>{{ image.alt }}</p>
                        </div>
                    </ng-template>
                </p-carousel>
                
            </div>
            <div class="btn-to-accept">
                <p-button label="Enviar" severity="success" icon="pi pi-check" size="large" (onClick)="confirm1($event)" />
            </div>

            <!-- Botão de envio -->
        </div>
    </app-card-base>
</div>

<p-toast />
    <p-confirmdialog />
    