
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}
/* Estilize o título especificamente dentro do wrapper do divider */
:host ::ng-deep p-divider.my-divider .p-divider-content .title h1 {
  margin: 0;                    /* remove margens padrão do h1 */
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1.1rem;
  color: #7a7676;
  letter-spacing: .01em;
  line-height: 1.2;
}


@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
.title-accordion {
  font-family: "IBM Plex Mono", monospace !important;
  font-size: 1rem;
  color: #4d4d4d;
  font-weight: 400;
}

.contracts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  min-width: 37.5rem;

  max-height: 600px;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: #fcfafa;
}

/* Seção do filtro no topo */
.filter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 1rem;
  .p-dropdown {
    width: 12rem;
    size: 100%;
  }
}

/* ESTILO DE LABEL (aplicado ao Filtrar por:) */
.filter-section label,
.filter-section .app-label {
  font-family: "IBM Plex Mono", monospace;
  color: #b2b4bb;
  font-size: 0.9rem;
  font-weight: 500;
}



/* Restante do seu SCSS dos cards */
.contract-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
  width: 100%;
}

.contract-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;



  label {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    color: #4d4d4d;
  }

  span {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: #575353;
  }
}

.contract-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }
  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.btn-to-send-new-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}


.addresscontract {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addresscontract .section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.addresscontract label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.addresscontract span {
  color: #555;
}

.addresscontract .section-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.addresscontract .section-inline .group {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  flex-shrink: 0;
}

.addresscontract .section-inline label {
  font-weight: bold;
}

.addresscontract .section-inline span {
  color: #555;
}


:host ::ng-deep .p-accordion {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

/* Garante que o conteúdo do header ocupe a linha toda e permita o alinhamento lateral */
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  display: flex;
  width: 100%;
}


:host ::ng-deep {
  .p-textarea {
    --p-textarea-background: rgba(250, 250, 250, 0.6);
    --p-textarea-filled-background: rgba(250, 243, 243, 0.6);
    --p-textarea-filled-hover-background: rgba(250, 250, 250, 0.75);
    --p-textarea-filled-focus-background: rgba(250, 250, 250, 0.9);

    --p-textarea-focus-ring-color: rgba(0, 123, 255, 0.6);
    --p-textarea-focus-ring-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

    --p-textarea-transition-duration: 0.3s;
    --p-textarea-border-radius: 10px;
  }
}

.confirm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* Estilo do FAB roxo */
:host ::ng-deep .fab.p-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #9f46d3;      /* roxo */
  border-color: #9f46d3; 
  color: #fff;
  box-shadow: 0px 2px 3px rgba(100, 60, 100, 0.3);
}

:host ::ng-deep .fab.p-button:hover {
  background: #861ec2;      /* roxo um tom mais escuro no hover */
  border-color: #861ec2; 
}
:host ::ng-deep .fab .p-button-icon {
  font-size: 1.1rem;         /* tamanho do ícone */
}

:host ::ng-deep textarea.p-inputtextarea:disabled {
  opacity: .75;
  cursor: not-allowed;
}
:host ::ng-deep .fab .p-button-icon { 
    font-size: 1.1rem; }