<div class="page-container">
  <p-toast position="top-center"></p-toast>
  <app-card-base header="Alterar Data de Pagamento" width="auto" height="auto">
    <div class="btn-to-back">
      <p-button
        icon="pi pi-arrow-left"
        [rounded]="true"
        severity="danger"
        raised="true"
        size="large"
        (onClick)="voltarParaCliente()"
      />

      <p-button
        icon="pi pi-home"
        [rounded]="true"
        severity="info"
        raised="true"
        size="large"
        (onClick)="backToHome()"
      />
    </div>

    <p-stepper [value]="1">
      <p-step-list>
        <p-step [value]="1">Selecionar datas</p-step>
        <p-step [value]="2">Termo de Consentimento</p-step>
        <p-step [value]="3">Assinatura</p-step>
        <p-step [value]="4">Pagamento</p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="step step1">
              <!-- Conteúdo -->
              <div class="step-content">
                <div class="info-item">
                  <span class="label">Valores Atuais</span>
                  <div class="value">
                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span
                        >Bruto:
                        {{ contract.brutePrice | number : "1.2-2" }}</span
                      >
                    </div>

                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span
                        >Desconto: -{{
                          contract!.descountFixe | number : "1.2-2"
                        }}</span
                      >
                    </div>

                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span
                        >Líquido:
                        {{ contract!.liquidPrice | number : "1.2-2" }}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="info-item">
                  <span class="label">Data de Assinatura / Início</span>
                  <span class="value">
                    {{ contract!.dateSignature | date : "dd/MM/yyyy" }} -
                    {{ contract!.dateStart | date : "dd/MM/yyyy" }}
                  </span>
                </div>

                <div class="info-item">
                  <span class="label">Vigência</span>
                  <span class="value">{{ contract!.vigencia }} meses</span>
                </div>

                <div class="info-item">
                  <span class="label">Ciclo de Faturamento</span>
                  <span class="value highlight">
                    Dia base: {{ contract!.cicleBillingDayBase }} / Dia de
                    Vencimento: {{ contract!.cicleBillingExpired }}
                  </span>
                </div>

                <div class="select-wrapper">
                  <p-select
                    [options]="typesOfDateExpirationCicle"
                    optionLabel="descricao"
                    optionValue="value"
                    placeholder="Selecione a nova data de vencimento"
                    styleClass="custom-select"
                    [(ngModel)]="selectedBillingCycle"
                    (onChange)="onBillingCycleChange()"
                  ></p-select>
                </div>

                <div class="select-wrapper">
                  <p-select
                    [options]="typesOfPaymentMethod"
                    optionLabel="descricao"
                    optionValue="value"
                    placeholder="Forma de Pagamento"
                    styleClass="custom-select"
                    [(ngModel)]="selectedTypeOfPaymentMethod"
                  ></p-select>
                </div>

                <div class="selected-info" *ngIf="selectedBillingCycle">
                  <i class="pi pi-calendar"></i>
                  <span>
                    Novo dia base selecionado:
                    {{ selectedBillingCycle }}
                  </span>
                </div>

                <div class="proportional-explanation">
                  <p>
                    O valor abaixo é calculado proporcionalmente ao período
                    por 30 dias. Considera-se o valor líquido do
                    contrato dividido pela quantidade de dias , multiplicado
                    pelo número de dias até o novo dia base escolhido.
                  </p>
                </div>

                <div
                  class="proportional-info"
                  *ngIf="proportionalBoleto !== null"
                >
                  <i class="pi pi-dollar"></i>
                  <span>
                    Valor Proporcional:
                    {{
                      proportionalBoleto | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                  </span>
                </div>
              </div>
            </div>

            <!-- Botão próximo -->
            <div class="btn-actions">
              <p-button
                severity="success"
                rounded="true"
                raised="true"
                size="large"
                icon="pi pi-arrow-right"
                iconPos="right"
                label="Próximo"
                (onClick)="activateCallback(2)"
                [disabled]="!selectedBillingCycle || !selectedTypeOfPaymentMethod"
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content>
            <div *ngIf="selectedBillingCycle; else noDateSelected">
              <div class="fluxo-container">
                <!-- CARD 1 - ONLINE -->
                <div class="fluxo-card online">
                  <div class="fluxo-header">
                    🖥️
                    <h3>Atendimento Online</h3>
                  </div>
                  <div class="fluxo-body">
                    <p>
                      Envie o termo diretamente para assinatura online via
                      Autentique. Ideal para clientes atendidos por WhatsApp ou
                      Telefone
                    </p>
                  </div>
                  <div class="fluxo-footer">
                    <p-button
                      label="Enviar Contrato"
                      icon="pi pi-send"
                      severity="warn"
                      [raised]="true"
                      (onClick)="abrirModal()"
                      [style]="{ 'padding': '2rem 4rem' }"
                    ></p-button>
                  </div>
                </div>

                <!-- CARD 2 - PRESENCIAL -->
                <div class="fluxo-card presencial">
                  <div class="fluxo-header">
                    🤝
                    <h3>Atendimento Presencial</h3>
                  </div>
                  <div class="fluxo-body">
                    <p>
                      Gere o termo para assinatura manual presencial. A
                      assinatura será inserida automaticamente no documento.
                    </p>
                  </div>
                  <div class="fluxo-footer">
                    <p-button
                      label="Assinatura Manual"
                      icon="pi pi-file-edit"
                      severity="success"
                      [raised]="true"
                      [style]="{ 'padding': '2rem 4rem' }"
                    ></p-button>
                  </div>
                </div>
              </div>
            </div>

            <ng-template #noDateSelected>
              <div class="alert-warning">
                ⚠️ Para acessar este passo, volte ao passo anterior e selecione
                a nova data de vencimento.
              </div>
            </ng-template>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <!-- Conteúdo da etapa 3 -->
        </p-step-panel>

        <p-step-panel [value]="4">
          <!-- Conteúdo da etapa 4 -->
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </app-card-base>

  <!-- Modal -->
  <p-dialog
    header="Enviar Via WhatsApp ⚙️"
    [(visible)]="modalVisible"
    [modal]="true"
    [closable]="true"
    resizable="false"
    [draggable]="false"
    (onHide)="onHide()"
  >
    <div class="dialog-content">
      <div class="icon-container">
        <i class="pi pi-whatsapp whatsapp-icon"></i>
      </div>

      <div class="alert-box">
        <div class="alert-icon-circle">!</div>
        <p class="alert-text">
          Após a assinatura do documento pelo cliente via Autentique,<br />
          o sistema processará automaticamente a atualização dos dados<br />
          do contrato no RBX, vinculará um atendimento ao cliente<br />
          e anexará o documento assinado.<br /><br />
          O cliente tem 4 dias úteis para poder assinar e o processo ser feito,<br />
          caso contrário o documento será bloqueado e cancelado.<br />
          Você será notificado assim que a assinatura for concluída<br />
          e poderá consultar o atendimento diretamente no cadastro do cliente.
        </p>
      </div>

      <!-- Mensagem informativa -->
      <p class="info-text">
        Certifique-se de que o número está correto, caso contrário, poderá ser
        enviado para outra pessoa!<br />
        O termo será enviado pela Autentique para o cliente assinar via WhatsApp
        📄✅ <br />
        Digite o número no formato <strong>+55</strong> (DDD + Número).<br />
      </p>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-whatsapp"></i>
        </p-inputgroup-addon>

        <input
          pInputText
          id="telefone"
          name="telefone"
          placeholder="+55 (DDD) 00000-0000"
          [(ngModel)]="phone"
          required
          [style]="{ height: '40px', 'font-size': '20px' }"
          mask="00000000000"
          prefix="+55"
          #phoneModel="ngModel"
        />
      </p-inputgroup>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        severity="secondary"
        (onClick)="onHide()"
      ></p-button>
      <p-button
        label="Enviar"
        icon="pi pi-send"
        severity="success"
        [disabled]="!phone || phone.trim().length < 10"
        (onClick)="sendToAutentiqueSubmit()"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>