<div class="card-container">

  <div class="header">
    <div class="info">
      <h2>{{ data.clientName }}</h2>
      <span class="plan">{{ data.planCode }} - {{ data.planName }}</span>
      <span class="seller">Vendedor: {{ data.sellerName }}</span>
    </div>
    <div class="expire">Expira em: {{ expirationDate | date:'dd/MM/yyyy' }}</div>
  </div>

  <div class="contact-info">
    <div class="item">
      <i class="pi pi-phone"></i>
      <span>{{ data.phone }}</span>
    </div>
    <div class="item">
      <i class="pi pi-envelope"></i>
      <span>{{ data.email }}</span>
    </div>
    <div class="item">
      <i class="pi pi-map-marker"></i>
      <span>{{ data.address?.street }}, {{ data.address?.number }} - {{ data.address?.neighborhood }}, {{ data.address?.UF }}</span>
    </div>
  </div>

  <div class="info-secondary">
    <div class="observations" *ngIf="data.observation">
      <strong>Observações da venda:</strong>
      <span>{{ data.observation }}</span>
    </div>
  </div>

  <div class="last-contact" *ngIf="data.archivedAt">
      <strong>Arquivado em:</strong> {{ data.archivedAt | date:'dd/MM/yyyy HH:mm' }}
    </div>

  <div class="actions">
    <div class="secondary">
      <p-button label="Ligar" severity="secondary" size="small"></p-button>
      <p-button label="Email" severity="secondary" size="small"></p-button>
    </div>
    <div class="primary">
      <p-button label="Converter Venda" severity="info" size="large"></p-button>
    </div>
  </div>

</div>
