.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}

:host {
  font-family: "IBM Plex Mono", monospace;
}

.btn-to-create-another-contract {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 15rem;
}

.title {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 400;
}

::ng-deep p-divider .p-divider-content,
::ng-deep p-divider .p-divider-content b {
  font-family: "IBM Plex Mono", monospace;
  color: #575353;
  font-weight: 400;
  font-size: medium;
}

.contracts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  min-width: 37.5rem;

  max-height: 600px;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: #fcfafa;

  /* Scroll personalizado */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffe6f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff69b4;
    border-radius: 8px;
    border: 2px solid #ffe6f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ff3399;
  }
}

.contract-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
  width: 100%;
}

.contract-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;

  .status {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: gray;

      &.active {
        background-color: #28a745; // verde ativo
        box-shadow: 0 0 5px #68ff8b, 0 0 10px #28a745;
        animation: pulse 1.5s infinite;
      }

      &.waiting {
        background-color: rgb(252, 113, 21);
        box-shadow: 0 0 5px #f1610e, 0 0 10px #e4f128;
        animation: pulse 1.5s infinite;
      }
      &.blocked {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 5px #f70101, 0 0 10px #ff0000;
        animation: pulse 1.5s infinite;
      }
      &.transfer {
        background-color: rgb(19, 160, 253);
        box-shadow: 0 0 5px #09b4f8, 0 0 10px #008cff;
        animation: pulse 1.5s infinite;
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 15px #28a745, 0 0 25px #28a745;
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }
  }

  label {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #1c34a0;
  }

  span {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    color: #575353;
  }
}

.contract-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }

  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.contract-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }

  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.btn-to-send-new-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.status span {
  font-weight: 1000; // negrito
  color: #313131; // opcional, cor destacada
}

.addresscontract {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* mais espaço entre seções */
}

.addresscontract .section {
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha se precisar */
  align-items: center;
  gap: 0.5rem; /* espaço entre label e span */
  padding: 0.25rem 0; /* separação visual entre seções */
  border-bottom: 1px solid #eee; /* linha sutil para separar seções */
}

.addresscontract label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem; /* espaço entre ícone e texto */
}

.addresscontract span {
  color: #555;
}

.headerlist {
  background-color: #f7f4f4;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: solid 1px rgb(201, 199, 199);
  padding: 0.2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.no-contracts {
  text-align: center;
  color: #fc3e3e;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
}

.infolegends {
  border-radius: 5px;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: inline;
  margin-bottom: 10px;
}

.infolegends p {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  gap: 0.2rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot.active {
  background-color: #4caf50;
}

.status-dot.waiting {
  background-color: #ff9800;
}

.status-dot.canceled {
  background-color: #858585;
}

.status-dot.blocked {
  background-color: #ff2828;
}

.status-dot.transfer {
  background-color: #008cff;
}

.addresscontract .section-inline {
  display: flex;
  flex-wrap: wrap; /* quebra linha se ficar muito longo */
  align-items: center;
  justify-content: space-between; /* distribui bem os blocos */
  gap: 1rem; /* espaço entre cada grupo */
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.addresscontract .section-inline .group {
  display: flex;
  align-items: center;
  gap: 0.15rem; /* entre label e valor */
  flex-shrink: 0; /* evita que quebre desnecessariamente */
}

.addresscontract .section-inline label {
  font-weight: bold;
}

.addresscontract .section-inline span {
  color: #555;
}

// DIALOG DATE EXPIRED

:host ::ng-deep .p-select {
  --p-select-option-selected-background: #4da3ff;
  --p-select-option-selected-color: white;
  --p-select-option-selected-focus-background: #377ad6;
  --p-select-option-selected-focus-color: white;
}

:host ::ng-deep .p-select.p-component.p-focus {
  border-color: #4da3ff !important;
  box-shadow: 0 0 0 0.2rem rgba(77, 163, 255, 0.3) !important;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.global-overlay-message {
  margin-top: 1.5rem;
  font-size: 1.5rem; /* pode aumentar para combinar com o spinner */
  font-weight: 800;
  color: #f8f2f8;
  text-transform: uppercase;
  text-shadow:
    2px 2px 0 #000000,
    4px 4px 0 #2c2c2c,
    6px 6px 10px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-align: center;
}

::ng-deep .p-progress-spinner {
  width: 200px !important;   /* largura maior */
  height: 200px !important;  /* altura maior */
}



.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

/* Ícone acima do select */
.select-with-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha à esquerda do select */
  gap: 0.4rem;
}

.warn-icon-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.warn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.warn-popup {
  background: #000;
  color: #fff;
  padding: 0.8rem;
  border-radius: 6px;
  max-width: 250px;
  font-size: 0.85rem;
  line-height: 1.3;
}



///


.dialog-container {
  padding: 0.5rem 1rem; // Espaçamento interno para não colar nas bordas
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;  
  margin-bottom: 1.25rem; 
}

.form-group-contract {
  display: flex;
  flex-direction: line;
  gap: 0.5rem;  
  margin-bottom: 1.25rem; 
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #1c34a0;
  font-size: 1rem;
}

.form-group label {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: #1c34a0; // Mantendo o azul padrão dos seus labels
  font-size: 0.9rem;
}

/* ::ng-deep é usado para estilizar os componentes internos do PrimeNG 
  que não são facilmente acessíveis pelo CSS normal do componente.
*/

// Força a fonte padrão no título do dialog
::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

// Garante que o texto dentro dos inputs também use a fonte padrão
::ng-deep .p-inputtext, 
::ng-deep .p-inputnumber-input,
::ng-deep .p-dropdown-label {
  font-family: "IBM Plex Mono", monospace !important;
}

// Estiliza o rodapé do dialog para separá-lo visualmente do formulário
::ng-deep .p-dialog .p-dialog-footer {
  border-top: 1px solid #dee2e6; // Linha separadora sutil
  padding-top: 1rem;
  margin-top: 1rem;
}