.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}

:host {
  font-family: "IBM Plex Mono", monospace;
}

.btn-to-create-another-contract {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 15rem;
}

.title {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 400;
}

::ng-deep p-divider .p-divider-content,
::ng-deep p-divider .p-divider-content b {
  font-family: "IBM Plex Mono", monospace;
  color: #575353;
  font-weight: 400;
  font-size: medium;
}

.contracts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  min-width: 37.5rem;

  max-height: 600px;
  overflow-y: auto;  
  padding-right: 0.5rem;

  /* Scroll personalizado */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffe6f0;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff69b4; 
    border-radius: 8px;
    border: 2px solid #ffe6f0; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ff3399; 
  }
}


.contract-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
  width: 100%;

}

.contract-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;

  .status {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: gray;

      &.active {
        background-color: #28a745; // verde ativo
        box-shadow: 0 0 5px #68ff8b, 0 0 10px #28a745;
        animation: pulse 1.5s infinite;
      }

      &.waiting {
        background-color: rgb(252, 113, 21);
        box-shadow: 0 0 5px #f1610e, 0 0 10px #e4f128;
        animation: pulse 1.5s infinite;
      }
      &.blocked {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 5px #f70101, 0 0 10px #ff0000;
        animation: pulse 1.5s infinite;
      }
      &.transfer {
        background-color: rgb(19, 160, 253);
        box-shadow: 0 0 5px #09b4f8, 0 0 10px #008cff;
        animation: pulse 1.5s infinite;
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 15px #28a745, 0 0 25px #28a745;
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }
  }

  label {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #1c34a0;
  }

  span {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    color: #575353;
  }
}

.contract-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }

  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.contract-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }

  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.btn-to-send-new-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.status span {
  font-weight: 1000; // negrito
  color: #313131; // opcional, cor destacada
}

.addresscontract {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* mais espaço entre seções */
}

.addresscontract .section {
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha se precisar */
  align-items: center;
  gap: 0.5rem; /* espaço entre label e span */
  padding: 0.25rem 0; /* separação visual entre seções */
  border-bottom: 1px solid #eee; /* linha sutil para separar seções */
}

.addresscontract label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem; /* espaço entre ícone e texto */
}

.addresscontract span {
  color: #555;
}

.headerlist {
  background-color: #e2e2e2;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: solid 1px rgb(201, 199, 199);
  padding: 0.2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.no-contracts {
  text-align: center;
  color: #fc3e3e;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
}


.infolegends {
  border-radius: 5px;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: inline;
  margin-bottom: 10px;
}

.infolegends p {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  gap: 0.5rem;
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot.active {
  background-color: #4caf50; 
}

.status-dot.waiting {
  background-color: #ff9800; 
}

.status-dot.canceled {
  background-color: #858585; 
}

.status-dot.blocked {
  background-color: #ff2828; 
}

.status-dot.transfer {
  background-color: #008cff; 
}


