<div class="page-container">
  <p-toast />
  <p-confirmDialog></p-confirmDialog>
  <app-card-base width="auto" height="auto" header="CONTRATOS">
    <div class="btn-to-create-another-contract">
      <p-button
        [rounded]="true"
        [raised]="true"
        (onClick)="navigateToInfoClient()"
        icon="pi pi-arrow-left"
        severity="danger"
        size="large"
      />
      <p-button
        [raised]="true"
        label="Lançar Contrato"
        (onClick)="navigateToCreatContract()"
        icon="pi pi-dollar"
        severity="success"
      />
    </div>

    <div class="infolegends">
      <p><span class="status-dot active"></span> Ativo</p>
      <p><span class="status-dot waiting"></span> Aguardando Instalação</p>
      <p><span class="status-dot canceled"></span> Cancelado</p>
      <p><span class="status-dot blocked"></span> Bloqueado</p>
      <p><span class="status-dot transfer"></span> Transferido</p>
    </div>

    <div class="headerlist">
      <div class="search-wrapper">
        <input
          pInputText
          type="text"
          [mask]="'0000000'"
          placeholder="Nº Contrato do RBX"
          [(ngModel)]="searchCode"
          (keydown.enter)="searchContractByRbxCode()"
        />
        <p-button
          icon="pi pi-search"
          severity="warn"
          [rounded]="true"
          (onClick)="searchContractByRbxCode()"
        ></p-button>
      </div>

      <p-button
        [raised]="true"
        label="Somente Ativos"
        (onClick)="listActivesContracts()"
        icon="pi pi-list"
        severity="info"
      />
      <p-button
        [raised]="true"
        label="Visualizar todos"
        (onClick)="listToAllContracts()"
        icon="pi pi-list"
        severity="secondary"
      />
      <p-button
        [raised]="true"
        label="Bloqueados"
        (onClick)="listBlockedsContracts()"
        icon="pi pi-list"
        severity="secondary"
      />
      <p-button
        [raised]="true"
        label="Transferidos"
        (onClick)="listTransferContracts()"
        icon="pi pi-list"
        severity="secondary"
      />
    </div>

    <div class="contracts-list">
      @if (contracts.length === 0) {
      <div class="no-contracts">
        🚫 NÃO HÁ CONTRATOS CADASTRADO COM ESSE STATUS 🚫
      </div>
      } @else { @for (contract of contracts; track $index) {
      <div class="contract-card">
        <div class="contract-info">
          <div class="wrapper status-wrapper">
            <div class="status">
              <span
                class="status-dot"
                [ngClass]="{
                  active: contract.situationDescription == 'ATIVO',
                  waiting:
                    contract.situationDescription == 'AGUARDANDO_INSTALACAO',
                  blocked: contract.situationDescription == 'BLOQUEADO',
                  transfer: contract.situationDescription == 'TRANSFERIDO'
                }"
              ></span>
              <label
                >[{{ contract.situationDescription }}] N° Contrato 📜 (RBX)
                →</label
              >
              <span>{{ contract.codeContractRbx }}</span>
            </div>
          </div>
          <div class="addresscontract">
            <!-- Plano -->
            <div class="section">
              <label>📦 Plano:</label>
              <span>{{ contract.planId }} | {{ contract.planName }}</span>
            </div>

            <!-- Endereço -->
            <div class="section">
              <label>📍 Endereço:</label>
              <span>{{ contract.street }}, {{ contract.number }}</span>
            </div>

            <!-- Bairro e CEP -->
            <div class="section">
              <label>🏘️ Bairro:</label>
              <span>{{ contract.neighborhood }}</span>
              <label>📪 CEP:</label>
              <span>{{ contract.zipCode }}</span>
            </div>

            <div class="section section-inline">
              <div class="group">
                <label>🌆 Cidade:</label>
                <span>{{ contract.city }}, {{ contract.state }}</span>
              </div>

              <div class="group">
                <label>Vigência:</label>
                <span>{{ contract.vigencia }} </span>
              </div>

              <div class="group">
                <label>Dia Base:</label>
                <span>{{ contract.cicleBillingDayBase }}</span>
              </div>

              <div class="group">
                <label>Dia Vencimento:</label>
                <span>{{ contract.cicleBillingExpired }}</span>
              </div>
            </div>

            <!-- Valores -->
            <div class="section">
              <label>💰 Valor Bruto:</label>
              <span>{{ contract.brutePrice | currency : "BRL" }}</span>
              <label>💸 Desconto:</label>
              <span>{{ contract.descountFixe | currency : "BRL" }}</span>
              <label>💵 Valor Líquido:</label>
              <span>{{ contract.liquidPrice | currency : "BRL" }}</span>
            </div>

            <div class="section">
              <label>Início:</label>
              <span>{{ contract.dateStart | date : "dd/MM/yyyy" }}</span>

              <label>Assinatura:</label>
              <span>{{ contract.dateSignature | date : "dd/MM/yyyy" }}</span>
            </div>
          </div>
        </div>

        <div class="contract-actions">
          <p-button
            icon="pi pi-arrow-up"
            (onClick)="openUpgradeDialog(contract, true)"
            severity="success"
            [rounded]="true"
            [text]="true"
            pTooltip="Fazer Upgrade"
            tooltipPosition="top"
            [disabled]="contract.situationDescription !== 'ATIVO'"
          />
          <p-button
            icon="pi pi-arrow-down"
            (onClick)="openUpgradeDialog(contract, false)"
            severity="danger"
            [rounded]="true"
            [text]="true"
            pTooltip="Fazer Downgrade"
            tooltipPosition="top"
            [disabled]="contract.situationDescription !== 'ATIVO'"
          />

          <p-button
            icon="pi pi-home"
            (onClick)="navigateToAddressTransfer(contract)"
            severity="warn"
            [rounded]="true"
            [text]="true"
            pTooltip="Transferir Endereço"
            tooltipPosition="top"
            [disabled]="contract.situationDescription !== 'ATIVO'"
          />
          <p-button
            icon="pi pi-calendar"
            (onClick)="goToAlterDateExpired(contract)"
            severity="success"
            [rounded]="true"
            [text]="true"
            pTooltip="Alterar Vencimento"
            tooltipPosition="top"
            [disabled]="contract.situationDescription !== 'ATIVO'"
          />
          <p-button
            icon="pi pi-users"
            (onClick)="navigateToTransferOwnership(contract)"
            severity="info"
            [rounded]="true"
            [text]="true"
            pTooltip="Transferir Titularidade"
            tooltipPosition="top"
            [disabled]="contract.situationDescription !== 'ATIVO'"
          />
        </div>
      </div>
      } }
    </div>
  </app-card-base>
</div>
