.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:host {
  font-family: "IBM Plex Mono", monospace;
}

.btn-to-create-another-contract {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 15rem;
}

.title {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 400;
}

::ng-deep p-divider .p-divider-content,
::ng-deep p-divider .p-divider-content b {
  font-family: "IBM Plex Mono", monospace;
  color: #575353;
  font-weight: 400;
  font-size: medium;
}

.contracts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  min-width: 37.5rem;

  max-height: 600px;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: #fcfafa;
}

.contract-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
  width: 100%;
}

.contract-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;

  .status {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: gray;

      &.active {
        background-color: #28a745; // verde ativo
        box-shadow: 0 0 5px #68ff8b, 0 0 10px #28a745;
        animation: pulse 1.5s infinite;
      }

      &.waiting {
        background-color: rgb(252, 113, 21);
        box-shadow: 0 0 5px #f1610e, 0 0 10px #e4f128;
        animation: pulse 1.5s infinite;
      }

      &.blocked {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 5px #f70101, 0 0 10px #ff0000;
        animation: pulse 1.5s infinite;
      }

      &.transfer {
        background-color: rgb(19, 160, 253);
        box-shadow: 0 0 5px #32383a, 0 0 10px #008cff;
        animation: pulse 1.5s infinite;
      }

      &.suspense {
        background-color: #ff4081;
        box-shadow: 0 0 20px rgba(253, 19, 19, 0.6),0 0 10px #fa2a6f;
        animation: pulse 1.5s infinite;
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }

    50% {
      transform: scale(1.2);
      box-shadow: 0 0 15px #28a745, 0 0 25px #28a745;
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    }
  }

  label {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #1c34a0;
  }

  span {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    color: #575353;
  }
}

.contract-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: rgba(236, 232, 232, 0);
  margin-left: 0.5rem;
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0),
    inset 0 0 6px rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(2px);
}

.contract-actions {
  display: flex;
  justify-content: center;

  ::ng-deep .p-button .p-button-icon {
    font-size: 1rem;
  }

  ::ng-deep .p-button {
    font-size: 1rem;
  }
}

.btn-to-send-new-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.status span {
  font-weight: 1000;
  color: #313131;
  display: flex;
  justify-content: space-between;
}

.addresscontract {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addresscontract .section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.addresscontract label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* espaço entre ícone e texto */
}

.addresscontract span {
  color: #555;
}

.headerlist {
  background-color: #f7f4f4;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: solid 1px rgb(201, 199, 199);
  padding: 0.2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.no-contracts {
  text-align: center;
  color: #fc3e3e;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
}

.infolegends {
  border-radius: 5px;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: inline;
  margin-bottom: 10px;
}

.infolegends p {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
  gap: 0.2rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot.active {
  background-color: #4caf50;
}

.status-dot.waiting {
  background-color: #ff9800;
}

.status-dot.canceled {
  background-color: #858585;
}

.status-dot.blocked {
  background-color: #ff2828;
}

.status-dot.transfer {
  background-color: #008cff;
}

.addresscontract .section-inline {
  display: flex;
  flex-wrap: wrap;
  /* quebra linha se ficar muito longo */
  align-items: center;
  justify-content: space-between;
  /* distribui bem os blocos */
  gap: 1rem;
  /* espaço entre cada grupo */
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}

.addresscontract .section-inline .group {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  /* entre label e valor */
  flex-shrink: 0;
  /* evita que quebre desnecessariamente */
}

.addresscontract .section-inline label {
  font-weight: bold;
}

.addresscontract .section-inline span {
  color: #555;
}

.search-wrapper {
  position: relative;
  display: inline-block;

  p-button {
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-49%);
    height: 2rem;
    width: 2rem;

    ::ng-deep .p-button {
      padding: 0;
      border-radius: 50%;
      min-width: unset;
      height: 2rem;
      width: 2rem;
    }

    ::ng-deep .p-button-icon {
      font-size: 0.9rem;
    }
  }
}

@keyframes alert-blink {

  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px rgba(212, 0, 255, 0.8);
  }

  50% {
    opacity: 0.1;
    text-shadow: none;
  }
}

.suspension-alert-icon.pi-exclamation-circle {
  color: #af0367 !important;
  font-size: 1.8rem !important;
  animation: alert-blink 3s ease-in-out infinite alternate;
}

.icon-suspense {
  color: #af0367 !important;
}