.fullscreen-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0); // fundo transparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999; // acima de tudo
  pointer-events: none;
}

.lottie-box {
  width: 100vw;
  height: 100vh;
}
