/* POPULARES */
.planos-populares {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.planos-populares-container {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.plano-card.popular {
  width: 15rem;
  height: 20rem;
  background: linear-gradient(135deg, #7b1fa2, #9c27b0);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  text-align: center;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.35);
  }
}

.faixa-destaque {
  position: absolute;
  top: 1rem;
  left: -2rem;
  right: -2rem;
  background: #38c522;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.5rem;
  transform: rotate(-2deg);
  box-shadow:   
    0 0 10px #38c522,               
    0 0 20px #38c522;               
}


.planos-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.plano-card {
  background: linear-gradient(135deg, #7b1fa2, #9c27b0);
  color: #fff;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 1.5rem;
  text-align: center;
  height: 20rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 15rem;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}

/* TEXTOS */
.plano-mega {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.plano-preco {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: orange;
}

.plano-detalhes {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  opacity: 0.9;
}

.plano-extra {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: #e0e7ff;
}

.page-container {
  display: flex;
  justify-content: center; // centraliza horizontal
  align-items: center;     // centraliza vertical
  min-height: 80vh;       // ocupa altura total da tela
}