.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title {
    font-family: "IBM Plex Mono";
    color: #a8a8a8;
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: medium;
}

.avatar-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.avatar-center > img{
    width: 5rem;
    height: 5rem;
}

.body-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 1rem;
}

.input-body, .input-date {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 0.7rem);
    min-width: 250px;
}

.input-observation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.input-observation label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

:host ::ng-deep .p-inputtext, 
:host ::ng-deep .p-inputtextarea {
    width: 100%;
}

@media (max-width: 820px) {
    .input-body, .input-date {
        width: calc(50% - 0.5rem);
        min-width: auto;
    }
}

@media (max-width: 500px) {
    .header-body {
        flex-direction: column;
        text-align: center;
    }

    .avatar-center > img{
        width: 6rem;
        height: 6rem;
    }

    .title h1 {
        font-size: 1.2rem;
    }

    .input-body, .input-date {
        width: 100%; 
    }
}

.btn-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
