<div class="content">
  <p-toast />
  <app-card-base width="auto" height="auto">
    <div class="btn-to-back">
      <p-button
        icon="pi pi-arrow-left"
        [rounded]="true"
        severity="danger"
        (onClick)="btnToBack()"
      />
    </div>

    <div class="container">
      <!-- 1. Dados do Cliente -->
      <p-divider class="title">
        <h1 class="title">1. Dados do Cliente</h1>
      </p-divider>
      <div class="infosclient">
        <div class="info-item">
          <span class="label">Código RBX</span>
          <span class="value">{{ cliente.codigoRbx }}</span>
        </div>
        <div class="info-item">
          <span class="label">Zona:</span>
          <span class="value">{{ cliente.typeZone }}</span>
        </div>
        <div class="info-item">
          <span class="label">Tipo de Cliente</span>
          <span class="value">
            {{
              cliente.typeClient === "PF"
                ? "Pessoa Física"
                : cliente.typeClient === "PJ"
                ? "Pessoa Jurídica"
                : ""
            }}
          </span>
        </div>

        <div class="info-item">
          <span class="label">Situação</span>
          <span
            class="value"
            [ngClass]="{
              'status-blocked': cliente.active === false,
              'status-active': cliente.active === true
            }"
          >
            {{
              cliente.active === false
                ? "BLOQUEADO"
                : cliente.active === true
                ? "ATIVADO"
                : ""
            }}
          </span>
        </div>
      </div>

      <div class="body-content">
        <div class="avatar-row">
          <div class="spacer"></div>

          <div class="avatar-center">
            <p-avatar
              icon="pi pi-user"
              class="mr-2"
              size="xlarge"
              shape="circle"
            />
          </div>

          <div class="ranking-container">
            <p>RANKING</p>
            <span
              class="ranking ranking-circle"
              [ngClass]="{
                'ranking-green':
                  cliente.ranking === 'A' || cliente.ranking === 'B',
                'ranking-yellow': cliente.ranking === 'C',
                'ranking-red':
                  cliente.ranking === 'D' || cliente.ranking === 'E'
              }"
            >
              {{ cliente.ranking }}
            </span>

            <!-- legenda agora faz parte do ranking-container -->
            <p class="legend">
              <span class="green">| A</span> | <span class="green">B</span> |
              <span class="yellow">C</span> | <span class="red">D</span> |
              <span class="red">E |</span>
            </p>
          </div>
        </div>

        <!-- Campos PF -->
        <ng-container *ngIf="cliente.typeClient === 'PF'">
          <!-- Nome -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-user"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="nome"
                  name="nome"
                  [disabled]="!isEditing"
                  [(ngModel)]="cliente.name"
                  required
                  #nome="ngModel"
                  disabled
                />
                <label for="nome">Nome</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="nome"
              error="required"
              text="O nome é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- CPF -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-id-card"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="cpf"
                  name="cpf"
                  [(ngModel)]="cliente.cpf"
                  required
                  mask="000.000.000-00"
                  #cpf="ngModel"
                  disabled
                />
                <label for="cpf">CPF</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="cpf"
              error="required"
              text="O CPF é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- RG -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-id-card"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="rg"
                  name="rg"
                  [(ngModel)]="cliente.rg"
                  required
                  mask="00.000.000-0"
                  #rg="ngModel"
                  disabled
                />
                <label for="rg">RG</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="rg"
              error="required"
              text="O RG é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- Data de Nascimento -->
          <div class="form-field">
            <p-iftalabel variant="on">
              <p-datepicker
                id="nascimento"
                name="nascimento"
                [(ngModel)]="cliente.birthDate"
                required
                appendTo="body"
                #nascimento="ngModel"
                [iconDisplay]="'input'"
                [showIcon]="true"
                disabled
                dateFormat="dd/mm/yy"
              >
              </p-datepicker>
              <label for="nascimento">Data de Nascimento</label>
            </p-iftalabel>
            <app-message-valid-forms
              [control]="nascimento"
              error="required"
              text="A data é obrigatória"
            ></app-message-valid-forms>
          </div>
        </ng-container>

        <!-- Campos PJ -->
        <ng-container *ngIf="cliente.typeClient === 'PJ'">
          <!-- Razão Social -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-building"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="socialName"
                  name="socialName"
                  [(ngModel)]="cliente.socialName"
                  disabled
                />
                <label for="socialName">Razão Social</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- Nome Fantasia -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-building"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="fantasyName"
                  name="fantasyName"
                  [(ngModel)]="cliente.fantasyName"
                  disabled
                />
                <label for="fantasyName">Nome Fantasia</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- CNPJ -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-id-card"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="cnpj"
                  name="cnpj"
                  [(ngModel)]="cliente.cnpj"
                  required
                  mask="00.000.000/0000-00"
                  #cnpj="ngModel"
                  disabled
                />
                <label for="cnpj">CNPJ</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- IE -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-briefcase"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="ie"
                  name="ie"
                  [(ngModel)]="cliente.ie"
                  disabled
                />
                <label for="ie">Inscrição Estadual</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- Data de Abertura -->
          <div class="form-field">
            <p-iftalabel variant="on">
              <p-datepicker
                id="openingDate"
                name="openingDate"
                [(ngModel)]="cliente.openingDate"
                required
                appendTo="body"
                #openingDate="ngModel"
                [iconDisplay]="'input'"
                [showIcon]="true"
                disabled
                dateFormat="dd/mm/yy"
              >
              </p-datepicker>
              <label for="openingDate">Data de Abertura</label>
            </p-iftalabel>
            <app-message-valid-forms
              [control]="openingDate"
              error="required"
              text="A data é obrigatória"
            ></app-message-valid-forms>
          </div>
        </ng-container>
      </div>

      <!-- 2. Endereço do Cliente -->
      <p-divider class="title">
        <h1 class="title">2. Endereço do Cliente</h1>
      </p-divider>

      <form #clienteForm="ngForm">
        <div class="body-content">
          <!-- CEP -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-map-marker"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="cep"
                  name="cep"
                  [(ngModel)]="cliente.cep"
                  required
                  mask="00000-000"
                  #cep="ngModel"
                  [disabled]="!isEditing"
                  (blur)="searchCEP()"
                  placeholder="00000-000"
                />
                <label for="cep">CEP*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="cep"
              error="required"
              text="O CEP é obrigatório"
            ></app-message-valid-forms>
            <app-message-valid-forms
              [control]="cep"
              error="minlength"
              text="O CEP deve ter 8 dígitos"
            ></app-message-valid-forms>
          </div>

          <!-- Logradouro -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-home"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="logradouro"
                  name="logradouro"
                  [(ngModel)]="cliente.rua"
                  required
                  maxlength="100"
                  #logradouro="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="logradouro">Logradouro*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="logradouro"
              error="required"
              text="O logradouro é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- Número -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-sort-numeric-up"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="numero"
                  name="numero"
                  [(ngModel)]="cliente.numero"
                  required
                  maxlength="10"
                  #numero="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="numero">Número*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="numero"
              error="required"
              text="O número é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- Complemento -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-exclamation-circle"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="complemento"
                  name="complemento"
                  [(ngModel)]="cliente.complemento"
                  #complemento="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="complemento">Complemento</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-paperclip"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="cidade"
                  name="cidade"
                  [(ngModel)]="cliente.cidade"
                  #cidade="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="cidade">Cidade</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- UF -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon><i class="pi pi-map"></i></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="uf"
                  name="uf"
                  [(ngModel)]="cliente.uf"
                  required
                  minlength="2"
                  maxlength="2"
                  #uf="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="uf">UF*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="uf"
              error="required"
              text="O UF é obrigatório"
            ></app-message-valid-forms>
            <app-message-valid-forms
              [control]="uf"
              error="minlength"
              text="O UF deve ter 2 letras"
            ></app-message-valid-forms>
          </div>
        </div>

        <!-- Observação -->
        <div class="input-observation">
          <label for="observacao">Observação</label>
          <textarea
            rows="5"
            cols="30"
            style="width: 100%"
            pTextarea
            id="observacao"
            name="observacao"
            [(ngModel)]="cliente.observation"
            #observacao="ngModel"
            [disabled]="!isEditing"
          ></textarea>
        </div>

        <!-- 3. Contato do Cliente -->
        <p-divider class="title">
          <h1 class="title">3. Contato do Cliente</h1>
        </p-divider>

        <div class="body-content">
          <!-- Celular 1 -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-mobile"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="celular1"
                  name="celular1"
                  [(ngModel)]="cliente.celular1"
                  required
                  maxlength="15"
                  #celular1="ngModel"
                  mask="(00) 00000-0000"
                  [disabled]="!isEditing"
                />
                <label for="celular1">Celular*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="celular1"
              error="required"
              text="O celular é obrigatório"
            ></app-message-valid-forms>
          </div>

          <!-- Celular 2 -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-mobile"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="celular2"
                  name="celular2"
                  [(ngModel)]="cliente.celular2"
                  maxlength="15"
                  #celular2="ngModel"
                  mask="(00) 00000-0000"
                  [disabled]="!isEditing"
                />
                <label for="celular2">Celular 2</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- Telefone -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-phone"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  pInputText
                  id="telefone"
                  name="telefone"
                  [(ngModel)]="cliente.telefone"
                  maxlength="15"
                  #telefone="ngModel"
                  mask="(00) 00000-0000"
                  [disabled]="!isEditing"
                />
                <label for="telefone">Telefone</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>

          <!-- Email -->
          <div class="form-field">
            <p-inputgroup>
              <p-inputgroup-addon
                ><i class="pi pi-envelope"></i
              ></p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  type="email"
                  pInputText
                  id="email"
                  name="email"
                  [(ngModel)]="cliente.email"
                  required
                  maxlength="100"
                  email
                  #email="ngModel"
                  [disabled]="!isEditing"
                />
                <label for="email">Email*</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms
              [control]="email"
              error="required"
              text="O email é obrigatório"
            ></app-message-valid-forms>
            <app-message-valid-forms
              [control]="email"
              error="email"
              text="Digite um email válido"
            ></app-message-valid-forms>
          </div>
        </div>

        <div *ngIf="isEditing" class="btn-to-save">
          <p-button
            [raised]="true"
            size="large"
            rounded
            severity="help"
            icon="pi pi-check"
            (onClick)="saveCliente()"
          ></p-button>
        </div>
      </form>

      <!-- 4. Ações -->
      <p-divider class="title">
        <h1 class="title">4. Ações</h1>
      </p-divider>

      <div class="btn-actions">
        <div>
          <p-button
            label="Fotos"
            [raised]="true"
            size="large"
            severity="secondary"
            icon="pi pi-camera"
            (onClick)="navigateToPhotosClient()"
          />
        </div>
        <div>
          <p-button
            label="Contratos"
            (onClick)="navigateToContractClient()"
            [raised]="true"
            size="large"
            severity="secondary"
            icon="pi pi-file"
          />
        </div>
        <div>
          <p-button
            label="Whatsapp"
            [raised]="true"
            size="large"
            severity="success"
            icon="pi pi-whatsapp"
            (click)="sendWhatsapp()"
          ></p-button>
        </div>
        <div>
          <p-button
            [raised]="true"
            [label]="isEditing ? 'Cancelar' : 'Alterar'"
            [severity]="isEditing ? 'danger' : 'secondary'"
            size="large"
            icon="pi pi-pencil"
            (onClick)="toggleEditing()"
          />
        </div>
      </div>
    </div>
  </app-card-base>
</div>
