@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

:host {
  font-family: "IBM Plex Mono", monospace;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 300;
}

::ng-deep p-divider .p-divider-content,
::ng-deep p-divider .p-divider-content b {
  font-family: "IBM Plex Mono", monospace;
  color: #575353;
  font-weight: 400;
  font-size: medium;
}

.avatar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatar-center ::ng-deep .p-avatar {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
  max-width: 50em;
}

.body-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "IBM Plex Mono", monospace;
}

.form-field {
  flex: 1 1 calc(33.33% - 1rem) ;
  min-width: 6.25rem;
  display: flex;
  flex-direction: column;
}

.form-field app-message-valid-forms {
  font-size: 0.8rem;
.input-body, .input-date {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 0.7rem);
    min-width: 250px;
}

.input-observation {
  flex: 1 1 100%;
  margin-top: 1rem;
}

.btn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-to-save {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
}

@media (max-width: 820px) {
  .form-field {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 500px) {
  .form-field {
    flex: 1 1 100%;
  }

  .title h1 {
    font-size: 1.2rem;
  }
=======
:host ::ng-deep .p-inputtext, 
:host ::ng-deep .p-inputtextarea {
    width: 100%;
}

@media (max-width: 820px) {
    .input-body, .input-date {
        width: calc(50% - 0.5rem);
        min-width: auto;
    }
}

@media (max-width: 500px) {
    .header-body {
        flex-direction: column;
        text-align: center;
    }

    .avatar-center > img{
        width: 6rem;
        height: 6rem;
    }

    .title h1 {
        font-size: 1.2rem;
    }

    .input-body, .input-date {
        width: 100%; 
    }
}

  .avatar-center > img {
    width: 6rem;
    height: 6rem;
  }
}
