<div class="container">
  <div class="login-card">
    <p-card
      header="OAI SELLER | Login »"
      [style]="{ width: '45rem', overflow: 'hidden', height: '40rem' }"
    >
      <ng-template pTemplate="header">
        <div class="mac-dots">
          <span class="dot red"></span>
          <span class="dot yellow"></span>
          <span class="dot green"></span>
        </div>
      </ng-template>

      <form>
        <div class="group">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="email"
                autocomplete="off"
                maxlength="50"
                minlength="5"
                name="email"
                required
              />
              <label for="email">E-mail</label>
            </p-iftalabel>
          </p-inputgroup>

          <p-iftalabel variant="on" style="width: 100%">
            <p-password
              id="senha"
              [feedback]="false"
              [toggleMask]="true"
              name="senha"
              required
            ></p-password>
            <label for="senha">Senha</label>
          </p-iftalabel>
        </div>

        <div class="rememberMe">
            <p-checkbox binary="true" inputId="rememberMe"></p-checkbox>
            <label for="rememberMe"> Lembrar-me</label>
        </div>

        <div class="btn-form">
          <p-button
            [style]="{ width: '15rem', padding: '1rem' }"
            label="Entrar"
            [size]="'large'"
            [raised]="true"
            type="submit"
            (onClick)="goToNextPage()"
            [styleClass]="'p-button-purple'"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
