<div class="page-container">
  <p-toast position="top-center"></p-toast>
  <app-card-base header="Alterar Plano do contrato" width="auto" height="auto">
    <div class="btn-to-back">
      <p-button
        icon="pi pi-arrow-left"
        [rounded]="true"
        severity="danger"
        raised="true"
        size="large"
        (onClick)="voltarParaCliente()"
      />
      <p-button
        icon="pi pi-home"
        [rounded]="true"
        severity="info"
        raised="true"
        size="large"
        (onClick)="backToHome()"
      />
    </div>

    <div class="contractNumber__header">
      <label>Contrato a ser alterado:</label>
      <span>#{{ contract.codeContractRbx }}</span>
    </div>

    <p-stepper [(value)]="activeStep">
      <p-step-list>
        <p-step [value]="1">Selecionar Planos</p-step>
        <p-step [value]="2">Termo de Consentimento</p-step>
        <p-step [value]="3">Assinatura</p-step>
        <p-step [value]="4">Finalização</p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallBack="activateCallback">
            <div class="step step1">
              <div class="step-content">
                <div class="info-item">
                  <span class="label">Plano Atual</span>
                  <div class="value">
                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span
                        >Bruto
                        {{ contract.brutePrice | number : "1.2-2" }}
                      </span>
                    </div>
                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span>
                        Desconto: -{{
                          contract!.descountFixe | number : "1.2-2"
                        }}
                      </span>
                    </div>
                    <div class="value-row">
                      <i class="pi pi-dollar"></i>
                      <span>
                        Liquido:
                        {{ contract!.liquidPrice | number : "1.2-2" }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="info-item">
                  <span class="label">Data de Assinatura / ínicio</span>
                  <span class="value">
                    {{ contract!.dateSignature | date : "dd/MM/yyyy" }} -
                    {{ contract!.dateStart | date : "dd/MM/yyyy " }}
                  </span>
                </div>

                <div class="info-item">
                  <span class="label">Vigência</span>
                  <span class="value">{{ contract!.vigencia }} meses</span>
                </div>

                <div class="info-item">
                  <span class="label">Ciclo de Faturamento</span>
                  <span class="value highlight">
                    Dia Base: {{ contract!.cicleBillingDayBase }} / Dia de
                    Vencimento: {{ contract!.cicleBillingExpired }}
                  </span>
                </div>

                <div>
                  <span class="p-float-label">
                    <p-select
                      inputId="newPlanSelect"
                      [(ngModel)]="selectedPlan"
                      [options]="typesofplans"
                      placeholder="Selecione o novo Plano"
                      [showClear]="true"
                      [filter]="true"
                      filterBy="nome,codePlanRBX"
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="40"
                      styleClass="w-full"
                      [optionDisabled]="'disabled'"
                      (onChange)="onPlanSelect($event.value)"
                    >       
                      <ng-template pTemplate="selectedItem" let-plan>
                        <div *ngIf="plan" class="select-item-layout">
                          <span class="select-item-nome">{{ plan.nome }}</span>
                          <small class="select-item-codigo"
                            >({{ plan.codePlanRBX }})</small
                          >
                          <span 
                            class="status-tag" 
                            [ngClass]="{
                              'status-active': plan.status === 'A', 
                              'status-inactive': plan.status !== 'A'
                            }"
                          >
                            {{ plan.status === 'A' ? 'ATIVADO' : 'DESATIVADO' }}
                          </span>
                          
                        </div>
                      </ng-template>

                      <ng-template pTemplate="item" let-plan>
                        <div class="select-item-layout">
                          <div class="flex align-items-center gap-2">
                            <span class="select-item-nome">{{ plan.nomeExibicao || plan.nome }}</span>
                            <small class="select-item-codigo">
                              <i class="pi pi-tag"></i>
                              <span>{{ plan.codePlanRBX }}</span>
                            </small>
                          </div>
                          
                          <p-tag
                            [severity]="plan.status === 'A' ? 'success' : 'danger'"
                            [value]="plan.status === 'A' ? 'ATIVADO' : 'DESATIVADO'"
                          ></p-tag>
                        </div>
                      </ng-template>
                    </p-select>
                  </span>
                </div>

                <div style="margin-top: 1.5rem">
                  <span class="p-float-label">
                    <p-inputNumber
                      inputId="descountFixe"
                      [(ngModel)]="newDiscount"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      placeholder="Novo Desconto Fixo (R$)"
                      [style]="{ width: '100%' }"
                      styleClass="w-full"
                    ></p-inputNumber>
                  </span>
                </div>

                <div class="selected-info">
                  <div class="plan-item">
                    <i class="pi pi-calendar"></i>
                    <span>
                      Novo Plano selecionado:
                      {{ selectedPlan?.nome || "Nenhum" }}
                    </span>
                  </div>
                  <div class="plan-item">
                    <i class="pi pi-money-bill"></i>
                    <span>
                      Valor do novo Plano:
                      <strong>{{ valorFinalComDescontoDisplay | currency:'BRL':'symbol':'1.2-2' }}</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- BOTÃO PARA A PROXIMA STEP -->
            <div class="btn-actions">
              <p-button
                severity="success"
                rounded="true"
                raised="true"
                size="large"
                icon="pi pi-arrow-right"
                iconPos="right"
                label="Próximo"
                (onClick)="activateCallBack(2)"
                [disabled]="
                  !selectedPlan ||
                  selectedBillingCycle === null ||
                  newDiscount === null
                "
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallBack="activateCallback">
            <div *ngIf="selectedPlan; else avisoInvalido1">
              <div class="fluxo-container">
                <div class="fluxo-card online">
                  <div class="fluxo-header">
                    🖥️
                    <h3>Atendimento Online</h3>
                  </div>
                  <div class="fluxo-body">
                    <p>
                      Envie o termo diretamente ára assinatura online via
                      Autentique. Ideal para clientes atendidos por WhatsApp ou
                      Telefone!
                    </p>
                  </div>
                  <div class="fluxo-footer">
                    <p-button
                      label="Enviar Contrato"
                      icon="pi pi-send"
                      severity="warn"
                      [raised]="true"
                      (onClick)="abrirModal()"
                      [style]="{ padding: '2rem 4rem' }"
                    ></p-button>
                  </div>
                </div>

                <!-- CARD 2 - PRESENCIAL -->
                <div class="fluxo-card presencial">
                  <div class="fluxo-header">
                    🤝
                    <h3>Atendimento Presencial</h3>
                  </div>
                  <div class="fluxo-body">
                    <p>
                      Gere o termo para assinatura manual presencial. A
                      assinatura será inserida automaticamente no documento.
                    </p>

                  </div>
                  <div class="fluxo-footer">
                    <p-button
                         label="Assinatura Manual"
                            icon="pi pi-file-edit"
                            severity="success"
                            [raised]="true"
                            (onClick)="goToStep(3)"
                            [style]="{ padding: '2rem 4rem' }"
                            [disabled]="false"
                    ></p-button>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #avisoInvalido1>
              <div class="alert-warning">
                ⚠️ Para acessar este passo, volte ao passo anterior e selecione
                a nova data de vencimento.
              </div>
            </ng-template>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div *ngIf="selectedPlan; else avisoInvalido">
              <div class="pdf-preview-section p-mb-3">
                <div
                  *ngIf="previewLoadFailed && !isLoadingPreview"
                  class="p-mt-2 text-center p-text-danger"
                >
                  <p>
                    <i class="pi pi-exclamation-triangle p-mr-1"></i> Falha ao
                    carregar o preview.
                  </p>
                  <p-button
                    label="Tentar Novamente"
                    icon="pi pi-refresh"
                    styleClass="p-button-sm p-button-danger p-button-outlined"
                    (click)="loadPdfPreview()"
                  ></p-button>
                </div>

                <div
                  *ngIf="safePdfPreviewUrl && !isLoadingPreview"
                  class="pdf-viewer p-mt-2"
                >
                  <iframe
                    [src]="safePdfPreviewUrl"
                    width="100%"
                    height="600px"
                    style="border: 1px solid #ccc"
                  ></iframe>
                  <div class="btn-signature">
                    <p-button
                      label="Assinar"
                      icon="pi pi-pencil"
                      styleClass="p-button-sm"
                      severity="info"
                      rounded="true"
                      raised="true"
                      (click)="abrirAssinatura()"
                    ></p-button>
                    <p-button
                      label="Capturar"
                      icon="pi pi-camera"
                      (click)="cameraInput.click()"
                      styleClass="p-button-sm"
                      severity="info"
                      rounded="true"
                      raised="true"
                    ></p-button>
                    <p-button
                      label="Salvar"
                      icon="pi pi-download"
                      styleClass="p-button-sm p-button-success"
                      (click)="savePdf()"
                      [disabled]="!safePdfPreviewUrl"
                      rounded="true"
                      raised="true"
                    ></p-button>
                  </div>
                </div>
              </div>
              <div>
                <input
                  type="file"
                  accept="image/*"
                  capture="environment"
                  (change)="onFotoCapturada($event)"
                  style="display: none"
                  #cameraInput
                />
              </div>

              <div class="btn-to-navigate">
                <p-button
                  label="Voltar"
                  icon="pi pi-arrow-left"
                  severity="secondary"
                  rounded="true"
                  size="large"
                  [raised]="true"
                  (onClick)="activateCallback(2)"
                />
                <p-button
                  severity="success"
                  rounded="true"
                  raised="true"
                  size="large"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  label="Proxímo"
                  (onClick)="activateCallback(4)"
                />
              </div>
            </div>
            <ng-template #avisoInvalido>
              <div class="alert-warning">
                ⚠️ Você precisa preencher os dados no passo 1 para continuar.
              </div>
            </ng-template>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div *ngIf="selectedPlan; else avisoInvalido">
              <div *ngIf="finalization" class="step-body">
                    <div class="table-finalization">
                      <p-table class="tabela-finalization" [value]="[
                          { campo: 'Cliente', valor: result?.clientName },
                          { campo: 'CPF/CNPJ', valor: formatCpfCnpj(result?.clientCpf) },
                          { campo: 'Contrato gerado pelo RBX: ', valor: result?.contrato },
                          { campo: 'Plano', valor: result?.plano },
                          { campo: 'Valor do plano:', valor: (result?.valor | currency:'BRL':'symbol':'1.2-2') }                        
                          ]">
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Dados do cliente: </th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td><strong>{{ row.campo }}</strong></td>
                                <td>{{ row.valor }}</td>
                            </tr>
                        </ng-template>            
                      </p-table>
                    </div>
                    <div class="button-finalization">
                      <p-button
                          label="Voltar ao Menu do cliente"
                          icon="pi pi-thumbs-up-fil"
                          severity="success"
                          rounded="true"
                          size="large"
                          [raised]="true"
                          (onClick)="navigateToInfoClient()"
                        />
                    </div>
                </div>
                <div *ngIf="!finalization" class="step-footer">
                  <div class="proportional-info">
                    <div>
                        <span>
                          Deseja realmente concluir o processo de alteração de plano contratado?
                        </span>
                        <p style="font-size: 1em;">
                            <b style="font-size: 1.5em;">Atenção:</b> Após a alteração, o novo plano será iniciado somente no dia seguinte.
                            <br>
                            Se precisar alterar o plano novamente, será necessário esperar dois dias (48 horas) para que essa troca possa ser feita.
                        </p>
                      </div>
                    </div>
                    <div class="footer-actions">
                    <p-button
                      label="Voltar"
                      icon="pi pi-arrow-left"
                      severity="secondary"
                      rounded="true"
                      size="large"
                      [raised]="true"
                      (onClick)="activateCallback()"
                      />
                      <p-button
                      severity="success"
                      [rounded]="true"
                      label="Enviar alteração"
                      icon="pi pi-check"
                      [loading]="isLoadingTransfer"
                      (onClick)="openPhoneModal()"
                      />
                  </div>
                </div>
              </div>
            <ng-template #avisoInvalido>
              <div class="alert-warning">
                ⚠️ Você precisa preencher os dados no passo 1 para continuar.
              </div>
            </ng-template>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
    <app-check [trigger]="tocarCheck"/>
  </app-card-base>

  <p-dialog
    header="Enviar Via WhatsApp"
    [(visible)]="modalVisible"
    [modal]="true"
    [closable]="true"
    resizable="false"
    [draggable]="false"
    (onHide)="onHide()"
  >
    <div class="dialog-content">
      <div class="icon-container">
        <i class="pi pi-whatsapp whatsapp-icon"></i>
      </div>

      <div class="alert-box">
        <div class="alert-icon-circle">!</div>
        <p class="alert-text">
          Após a assinatura do documento pelo cliente via Autentique,<br />
          o sistema processará automaticamente a atualização dos dados<br />
          do contrato no RBX, vinculará um atendimento ao cliente<br />
          e anexará o documento assinado.<br /><br />
          O cliente tem 4 dias úteis para poder assinar e o processo ser
          feito,<br />
          caso contrário o documento será bloqueado e cancelado.<br />
          Você será notificado assim que a assinatura for concluída<br />
          e poderá consultar o atendimento diretamente no cadastro do cliente.
        </p>
      </div>

      <p class="info-text">
        Certifique-se de que o número está correto, caso contrário, poderá ser
        enviado para outra pessoa!<br />
        O termo será enviado pela Autentique para o cliente assinar via WhatsApp
        📄✅ <br />
        Digite o número no formato <strong>+55</strong> (DDD + Número).<br />
      </p>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-whatsapp"></i>
        </p-inputgroup-addon>

        <input
          pInputText
          id="telefone"
          name="telefone"
          placeholder="+55 (DDD) 00000-0000"
          [(ngModel)]="phone"
          required
          [style]="{ height: '40px', 'font-size': '20px' }"
          mask="(00) 00000-0000"
          prefix="+55"
          #phoneModel="ngModel"
        />
      </p-inputgroup>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        severity="secondary"
        (onClick)="onHide()"
      ></p-button>
      <p-button
        label="Enviar"
        icon="pi pi-send"
        severity="success"
        [disabled]="!phone || phone.trim().length < 10"
        (onClick)="sendTransferSubmit()"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Confirmar Foto Capturada"
    [(visible)]="isPreviewDialogVisible"
    [modal]="true"
    [style]="{ width: '90vw', 'max-width': '600px' }"
    (onHide)="limparPreview()"
  >
    <div *ngIf="thumbnailPreview" class="text-center">
      <img
        [src]="thumbnailPreview"
        alt="Preview da foto capturada"
        style="
          width: 100%;
          height: auto;
          max-height: 60vh;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-bottom: 1rem;
        "
      />
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Descartar"
        icon="pi pi-times"
        (click)="limparPreview()"
        styleClass="p-button-danger p-button-text"
      ></p-button>

      <p-button
        label="Salvar Foto"
        icon="pi pi-save"
        (click)="salvarFotoCapturada()"
        styleClass="p-button-success"
        [disabled]="!fotoCapturadaFile"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Assinatura Ipad"
    [(visible)]="signDialogVisible"
    (onShow)="forceSignatureRedraw()"
    (onHide)="resetSignaturePad()"
  >
    <div class="signature-pad-container">
      <div class="signature-input">
        <p-iftalabel>
          <label for="signature">Assinatura Online (Opcional):</label>
          <ng-container *ngIf="signatureVisibleFlag">
            <app-signature-pad #signaturePadInDialog> </app-signature-pad>
          </ng-container>
        </p-iftalabel>
      </div>
    </div>

    <p-divider layout="horizontal" styleClass="p-my-3"></p-divider>

    <div class="btn-to-capture">
      <div class="btn-to-generate-contract">
        <p-button
          label="Gerar Termo Final com Assinatura"
          icon="pi pi-file-pdf"
          [outlined]="true"
          size="large"
          severity="info"
          variant="outlined"
          [loading]="isLoadingPreview"
          (onClick)="captureAndGenerate()"
        ></p-button>
      </div>
    </div>
  </p-dialog>

  <p-dialog
  header="Enviar informações ao cliente"
  [(visible)]="showPhoneDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '25rem' }"
>
  <div class="flex flex-column gap-3">
    <p class="m-0">
      Por favor, informe o número de telefone do cliente para que possamos
      enviar as informações da <strong>Alteração do Plano</strong>.
      <br />
      Para confirmar a ação é necessário informar um número de telefone.
      <br />
      No seguinte formato <strong>+55 (DD) Número</strong>
    </p>

    <input
      type="text"
      pInputText
      [(ngModel)]="phone"
      mask="00000000000"
      prefix="+55"
      placeholder="(00) 00000-0000"
    />

    <p-divider></p-divider>

    <div class="flex justify-content-end gap-2 mt-3">
      <p-button
        label="Cancelar"
        severity="secondary"
        (onClick)="showPhoneDialog = false"
      ></p-button>

      <p-button
        label="Confirmar"
        icon="pi pi-check"
        [disabled]="phone!.length !== 11"
        (onClick)="confirmSendToClient()"
      ></p-button>
    </div>
  </div>
</p-dialog>
</div>
