<div class="page-container">
  <app-card-base width="auto" height="auto">
    <div>
      <form #clienteForm="ngForm">
        <!-- ========================================================= -->
        <!-- 1. Dados do Cliente -->
        <!-- ========================================================= -->
        <p-divider [ngStyle]="{ 'border-color': '#666' }">
          <b>1. Dados do Cliente</b>
        </p-divider>

        <p class="helper-text">PF/PJ*</p>
        <div class="type-client">
          <p-iftalabel class="w-full md:w-56">
            <p-select
              [options]="clientTypes"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="selectedClientType"
              placeholder="Selecione"
              class="w-full md:w-56"
              name="typeclient"
              required
            >
            </p-select>
            <label for="typeclient">Tipo de Cliente</label>
          </p-iftalabel>

          <p-iftalabel class="w-full md:w-56">
            <p-select
              [options]="zonatypes"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="selectedZoneType"
              placeholder="Selecione"
              class="w-full md:w-56"
              name="typezone"
              required
            >
            </p-select>
            <label for="typezone">Tipo de Zona *</label>
          </p-iftalabel>
        </div>

        

        <!-- ========== Pessoa Física (PF) ========== -->
        <div *ngIf="selectedClientType === 'PF'">
          <app-message-valid-forms
            [control]="nome"
            text="O nome é obrigatório"
            error="required"
          ></app-message-valid-forms>
          <app-message-valid-forms
            [control]="nome"
            text="O nome deve ter no mínimo 15 caracteres"
            error="minlength"
          ></app-message-valid-forms>
          <div class="name-date">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-user"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="nome"
                  autocomplete="off"
                  maxlength="50"
                  minlength="15"
                  name="nome"
                  required
                  [(ngModel)]="clienteForm.value.nome"
                  #nome="ngModel"
                  
                />
                <label for="nome">Nome (Completo)*</label>
              </p-iftalabel>
            </p-inputgroup>
            <p-divider type="dashed" layout="vertical"></p-divider>

            <p-iftalabel>
              <p-datepicker
                name="dateOfBirth"
                [(ngModel)]="dateOfBirth"
                inputId="date"
                showIcon
                iconDisplay="input"
                appendTo="body"
                #dateofBirth="ngModel"
                placeholder="dd/mm/aaaa"
                required
              />
              <label for="date">Data de Nascimento*</label>
            </p-iftalabel>

            <app-message-valid-forms
              [control]="dateofBirth"
              text="A data de nascimento é obrigatória"
              error="required"
            ></app-message-valid-forms>
          </div>

          <app-message-valid-forms
            [control]="cpf"
            text="O CPF é obrigatório"
            error="required"
          ></app-message-valid-forms>

          <app-message-valid-forms
            [control]="cpf"
            text="CPF inválido"
            [visible]="cpfInvalido"
          ></app-message-valid-forms>
          <div class="documents">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-id-card"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="cpf"
                  autocomplete="off"
                  maxlength="14"
                  minlength="11"
                  name="cpf"
                  required
                  #cpf="ngModel"
                  [(ngModel)]="clienteForm.value.cpf"
                  (input)="formatCpf($event, cpf)"
                  (ngModelChange)="validateCpfInput($event)"
                />
                <label for="cpf">CPF*</label>
              </p-iftalabel>
            </p-inputgroup>

            <app-message-valid-forms
              [control]="rg"
              text="O RG é obrigatório"
              error="required"
            ></app-message-valid-forms>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-id-card"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="rg"
                  autocomplete="off"
                  maxlength="20"
                  minlength="5"
                  name="rg"
                  required
                  [(ngModel)]="clienteForm.value.rg"
                  #rg="ngModel"
                  (input)="formatRg($event, rg)"
                />
                <label for="rg">RG (Carteira de Identidade Nacional)*</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>
        </div>

        <!-- ========== Pessoa Jurídica (PJ) ========== -->
        <div *ngIf="selectedClientType === 'PJ'">
          <div class="documents-pj-wrapper" style="display: flex; gap: 1rem">
            <!-- CNPJ -->
            <div class="input-wrapper">
              <div class="message-area">
                <app-message-valid-forms
                  [control]="cnpj"
                  text="CNPJ inválido"
                  [visible]="cnpjInvalido"
                ></app-message-valid-forms>
                <app-message-valid-forms
                  [control]="cnpj"
                  text="O CNPJ é obrigatório"
                  error="required"
                ></app-message-valid-forms>
              </div>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-building"></i>
                </p-inputgroup-addon>
                <p-iftalabel variant="on">
                  <input
                    size="large"
                    pInputText
                    id="cnpj"
                    name="cnpj"
                    required
                    maxlength="18"
                    #cnpj="ngModel"
                    [(ngModel)]="clienteForm.value.cnpj"
                    (input)="formatCnpj($event, cnpj)"
                    (ngModelChange)="validateCnpjInput($event)"
                  />
                  <label for="cnpj">CNPJ*</label>
                </p-iftalabel>
              </p-inputgroup>
            </div>

            <!-- Inscrição Estadual -->
            <div class="input-wrapper">
              <div class="message-area">
                <app-message-valid-forms
                  [control]="inscricao"
                  text="Inscrição Estadual obrigatória"
                  error="required"
                ></app-message-valid-forms>
              </div>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-id-card"></i>
                </p-inputgroup-addon>
                <p-iftalabel variant="on">
                  <input
                    size="large"
                    pInputText
                    id="inscricao"
                    name="inscricao"
                    required
                    #inscricao="ngModel"
                    [(ngModel)]="clienteForm.value.inscricao"
                    mask="000000000000"
                  />
                  <label for="inscricao">Inscrição Estadual*</label>
                </p-iftalabel>
              </p-inputgroup>
            </div>

            <!-- Data de Abertura -->
            <div class="input-wrapper">
              <div class="message-area">
                <app-message-valid-forms
                  [control]="dateopen"
                  text="Data de abertura é obrigatória"
                  error="required"
                ></app-message-valid-forms>
              </div>
              <p-iftalabel>
                <p-datepicker
                  name="dateopen"
                  inputId="dateopen"
                  showIcon
                  iconDisplay="input"
                  appendTo="body"
                  placeholder="dd/mm/aaaa"
                  #dateopen="ngModel"
                  required="true"

                  [(ngModel)]="clienteForm.value.dateopen"
                ></p-datepicker>
                <label for="dateopen">Data de Abertura*</label>
              </p-iftalabel>
            </div>
          </div>

          <!-- Razão Social e Nome Fantasia -->
          <div
            class="name-date-wrapper"
            style="display: flex; gap: 1rem; margin-top: 1rem"
          >
            <!-- Razão Social -->
            <div class="input-wrapper">
              <div class="message-area">
                <app-message-valid-forms
                  [control]="razao"
                  text="Razão Social é obrigatória"
                  error="required"
                ></app-message-valid-forms>
              </div>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-briefcase"></i>
                </p-inputgroup-addon>
                <p-iftalabel variant="on">
                  <input
                    size="large"
                    pInputText
                    id="razao"
                    name="razao"
                    required
                    #razao="ngModel"
                    [(ngModel)]="clienteForm.value.razao"
                  />
                  <label for="razao">Razão Social*</label>
                </p-iftalabel>
              </p-inputgroup>
            </div>

            <!-- Nome Fantasia -->
            <div class="input-wrapper">
              <div class="message-area">
                <app-message-valid-forms
                  [control]="fantasia"
                  text="Nome Fantasia é obrigatório"
                  error="required"
                ></app-message-valid-forms>
              </div>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-tag"></i>
                </p-inputgroup-addon>
                <p-iftalabel variant="on">
                  <input
                    size="large"
                    pInputText
                    id="fantasia"
                    name="fantasia"
                    #fantasia="ngModel"
                    [(ngModel)]="clienteForm.value.fantasia"
                  />
                  <label for="fantasia">Nome Fantasia</label>
                </p-iftalabel>
              </p-inputgroup>
            </div>
          </div>
        </div>

        <!-- ========================================================= -->
        <!-- 2. Endereço do Cliente -->
        <!-- ========================================================= -->
        <p-divider [ngStyle]="{ 'border-color': '#666' }">
          <b>2. Endereço do Cliente</b>
        </p-divider>

        <div class="messagesvalids2">
          <app-message-valid-forms
            [visible]="cepNaoEncontrado"
            text="CEP não encontrado ou inválido"
          ></app-message-valid-forms>

          <app-message-valid-forms
            [control]="uf"
            text="UF é obrigatório"
            error="required"
          ></app-message-valid-forms>
        </div>

        <div class="search-cep">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-map-marker"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="cep"
                autocomplete="off"
                maxlength="9"
                name="cep"
                required
                [(ngModel)]="address.cep"
                [mask]="'00000-000'"
                (blur)="onCepChange(clienteForm)"
                placeholder="00000-000"
              />
              <label for="cep">Código de Endereçamento Postal (CEP)*</label>
            </p-iftalabel>
          </p-inputgroup>

          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-map-marker"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="uf"
                autocomplete="off"
                maxlength="9"
                name="uf"
                required
                [(ngModel)]="address.uf"
                #uf="ngModel"
              />
              <label for="uf">UF*</label>
            </p-iftalabel>
          </p-inputgroup>
          
        </div>

        <div class="messagesvalids">
          <app-message-valid-forms
            error="required"
            text="Rua é obrigatória"
            [control]="street"
          ></app-message-valid-forms>
          <app-message-valid-forms
            error="required"
            text="Número é obrigatório"
            [control]="number"
          ></app-message-valid-forms>
        </div>

        <div class="address">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-home"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="street"
                autocomplete="off"
                maxlength="50"
                minlength="5"
                name="street"
                [(ngModel)]="address.street"
                required
                #street="ngModel"
              />
              <label for="street">Logradouro (Rua)*</label>
            </p-iftalabel>
          </p-inputgroup>

          <div>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-sort-numeric-up"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="number"
                  autocomplete="off"
                  maxlength="10"
                  minlength="1"
                  name="number"
                  required
                  type="number"
                  #number="ngModel"
                  [(ngModel)]="address.number"
                />
                <label for="number">Número da Casa*</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>
        </div>

        <div class="city-etc">
          <!-- Mensagens -->
          <div class="messages-row">
            <app-message-valid-forms
              error="required"
              text="Cidade é obrigatória"
              [control]="city"
            ></app-message-valid-forms>

            <app-message-valid-forms
              error="required"
              text="Bairro é obrigatório"
              [control]="neighborhood"
            ></app-message-valid-forms>

            <div class="empty"></div>
          </div>

          <div class="inputs-row">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-map"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="city"
                  autocomplete="off"
                  maxlength="50"
                  minlength="2"
                  name="city"
                  [(ngModel)]="address.city"
                  required
                  #city="ngModel"
                />
                <label for="city">Cidade*</label>
              </p-iftalabel>
            </p-inputgroup>

            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-map"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="neighborhood"
                  autocomplete="off"
                  maxlength="50"
                  minlength="2"
                  name="neighborhood"
                  [(ngModel)]="address.neighborhood"
                  required
                  #neighborhood="ngModel"
                />
                <label for="neighborhood">Bairro*</label>
              </p-iftalabel>
            </p-inputgroup>

            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-exclamation-circle"></i>
              </p-inputgroup-addon>
              <p-iftalabel variant="on">
                <input
                  size="large"
                  pInputText
                  id="complement"
                  autocomplete="off"
                  maxlength="50"
                  name="complement"
                  [(ngModel)]="address.complement"
                />
                <label for="complement">Complemento</label>
              </p-iftalabel>
            </p-inputgroup>
          </div>
        </div>

        <!-- ========================================================= -->
        <!-- 3. Contatos do Cliente -->
        <!-- ========================================================= -->
        <p-divider [ngStyle]="{ 'border-color': '#666' }">
          <b>3. Contatos do Cliente</b>
        </p-divider>

        <app-message-valid-forms
          error="required"
          text="Cidade é obrigatória"
          [control]="phone"
        ></app-message-valid-forms>
        <div class="contacts">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-mobile"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="phone"
                autocomplete="off"
                maxlength="15"
                minlength="9"
                name="phone"
                required
                #phone="ngModel"
                [(ngModel)]="clienteForm.value.phone"
                mask="(99) 99999-9999"
              />
              <label for="phone">Celular*</label>
            </p-iftalabel>
          </p-inputgroup>

          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-phone"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="telephone"
                autocomplete="off"
                maxlength="15"
                minlength="9"
                name="telephone"
                [(ngModel)]="clienteForm.value.telephone"
                #telephone="ngModel"
                mask="(99) 9999-9999"
              />
              <label for="telephone">Telefone</label>
            </p-iftalabel>
          </p-inputgroup>

          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-envelope"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="email"
                autocomplete="off"
                maxlength="50"
                minlength="5"
                name="email"
                type="email"
                [(ngModel)]="clienteForm.value.email"
              />
              <label for="email">E-mail</label>
            </p-iftalabel>
          </p-inputgroup>
        </div>

        <div class="contacts-two">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-mobile"></i>
            </p-inputgroup-addon>
            <p-iftalabel variant="on">
              <input
                size="large"
                pInputText
                id="phone2"
                autocomplete="off"
                maxlength="15"
                minlength="9"
                name="phone2"
                #phone2="ngModel"
                [(ngModel)]="clienteForm.value.phone2"
                mask="(99) 99999-9999"
              />
              <label for="phone2">2º Celular</label>
            </p-iftalabel>
          </p-inputgroup>
        </div>

        <!-- ========================================================= -->
        <!-- Botões -->
        <!-- ========================================================= -->
        <div class="buttons">
          <p-button
            [raised]="true"
            label="Voltar"
            icon="pi pi-backward"
            severity="info"
            (onClick)="goBack()"
          ></p-button>
          <p-button
            [raised]="true"
            label="Confirmar"
            icon="pi pi-check"
          ></p-button>
        </div>
      </form>
    </div>
  </app-card-base>
</div>
