.page-container {
  display: flex;
  justify-content: center; // centraliza horizontal
  align-items: center;     // centraliza vertical
  min-height: 80vh;       // ocupa altura total da tela
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-info {
  margin: 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #000; 

    .vendedor-nome {
      color: rgb(26, 176, 226); 
      font-weight: 800;
      font-size: 2.2rem; 
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-family: "Press Start 2P", monospace; 
    color: #fcff53; 
    background: #111111; 
    padding: 0.3rem 0.4rem; 
    border-radius: 6px; 
    display: inline-block; 
  }
}

.cpf-section {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem; 

  input[pInputText] {
    width: 350px;   
    height: 5rem;   
    font-size: 2.0rem;
    text-align: center;
    background-color: #E8F0FE;
  }
}

.actions {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.infotoseller {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;

  .info-card {
    background: #fafafb;               
    color: #9a9797;                 
    font-family: "Press Start 2P", monospace;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    min-width: 220px;
    flex: 1 1 220px;
    box-shadow: 0 0 8px #6b6b6b, 0 0 16px #ced0d0; 

    .info-value {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 0.5rem;
      color: rgb(0, 0, 0);              
    }
  }
}