<div class="page-container">
  <p-toast></p-toast>
  <app-card-base header="Buscar Cliente" width="auto" height="110%">
    <div class="btn-to-back-leads-content">
      <div class="btn-to-leads">
        <p-button
          label="Sair"
          (onClick)="logout()"
          severity="danger"
          raised="true"
          icon="pi pi-sign-out"
        />
      </div>
        <div class="btn-to-conclude">
        <p-button
          label="Vendas"
          (onClick)="navigateToConcludeSale()"
          icon="pi pi-search"
          raised="true"
          severity="info"
          badge="2"
        />
      </div>
      <div class="btn-to-logout">
        <p-button
          label="Em Espera"
          (onClick)="navigateToLeads()"
          icon="pi pi-clock"
          raised="true"
          severity="warn"
          badge="2"
        />
      </div>
    </div>
    <div class="home-content">
      <div class="top-info">
        <h2>
          Seja Bem-vindo,
          <span class="vendedor-nome">{{ vendedorNome }}</span> 👋
        </h2>
        <p>
          {{ dataAtual | date : "fullDate" }} -
          {{ horaAtual | date : "HH:mm:ss" }}
        </p>
        <p-divider></p-divider>
      </div>

      <div class="infotoseller">
        <div class="info-card" *ngFor="let info of infoVendas">
          <p>{{ info.label }}</p>
          <p class="info-value">{{ info.value }}</p>
        </div>
      </div>

      <form #searchClientForm="ngForm">
        <div class="cpf-section">
          <p-iftalabel variant="on" style="width: 100%">
            <input
              pInputText
              [(ngModel)]="documento"
              name="documento"
              required
              minlength="11"
              maxlength="18"
              placeholder="CPF/CNPJ"
              (ngModelChange)="formatarDocumento($event)"
              (keypress)="allowOnlyNumbers($event)"
              (paste)="onPaste($event)"
              inputmode="numeric"
              autocomplete="off"
              #docModel="ngModel"
            />
            <label for="documento">CPF/CNPJ (Somente Números)</label>
          </p-iftalabel>

          <app-message-valid-forms
            [control]="docModel"
            error="required"
            text="Para pesquisar um cliente é necessário colocar um documento | CPF/CNPJ |"
          ></app-message-valid-forms>
        </div>

        <div class="actions">
          <p-button
            type="button"
            [style]="{ width: '15rem', padding: '2rem' }"
            [size]="'large'"
            label="Consultar"
            icon="pi pi-search"
            severity="info"
            raised="true"
            [loading]="isLoading"
            [disabled]="waitApiInsert"
            (onClick)="consultarCliente()"
          ></p-button>

          <p-button
            [style]="{ width: '15rem', padding: '2rem' }"
            [size]="'large'"
            label="Visualizar Planos"
            icon="pi pi-list"
            severity="secondary"
            raised="true"
            (onClick)="verPlanos()"
          >
          </p-button>
        </div>
      </form>
    </div>
  </app-card-base>
</div>

<p-toast />
