.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-info {
  margin: 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #000; 

    .vendedor-nome {
      color: orange; 
      font-weight: 800;
      font-size: 2.2rem; 
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-family: "Press Start 2P", monospace; 
    color: #3fed5c; 
    text-shadow: 0 0 4px #00ffea, 0 0 8px #00ffea; 

    background: #000; 
    padding: 0.3rem 0.4rem; 
    border-radius: 6px; 
    display: inline-block; 
  }
}

.cpf-section {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
  margin-bottom: 2rem; 

  input[pInputText] {
    width: 350px;   
    height: 5rem;   
    font-size: 2.0rem;
    text-align: center;
    background-color: #E8F0FE;
  }
}

.actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
