.notificacao-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #e0e0e0;

  &.lida {
    background-color: #f9f9f9;
    color: #999;
  }

  .notificacao-texto {
    max-width: 75%;

    h4 {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
    }

    p {
      margin: 0.25rem 0 0 0;
      font-size: 0.875rem;
      line-height: 1.2;
    }
  }

  .btn-lida {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #0b5ed7;
    }
  }
}

.data {
  font-size: 0.75rem;
  color: #028096;
}

.sem-notificacoes {
  text-align: center;
  padding: 2rem 1rem;
  color: gray;
  font-style: italic;
}

.loading {
  text-align: center;
  padding: 2rem 1rem;
  font-weight: 500;
}


.notificacoes-container {
  max-height: 400px; 
  overflow-y: auto;  

  /* Scroll personalizado */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffe6f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff69b4;
    border-radius: 8px;
    border: 2px solid #ffe6f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ff3399;
  }

  /* Para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ff69b4 #ffe6f0;
}
