<p-dialog
  header="Notificações 🔔"
  [(visible)]="visivel"
  [modal]="true"
  [style]="{ width: '400px' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="fechar()"
>
  <ng-template pTemplate="content">
    <!-- Indicador de carregamento -->
    <div *ngIf="carregando" class="loading">
      Carregando notificações...
    </div>

    <!-- Lista de notificações ou mensagem de vazio -->
    <div *ngIf="!carregando && notificacoes.length > 0; else semNotificacoes">
      <div
        *ngFor="let n of notificacoes"
        class="notificacao-item"
        [ngClass]="{ 'lida': n.status === 'READ' }"
      >
        <div class="notificacao-texto">
          <h4>{{ n.type }}</h4>
          <p>{{ n.message }}</p>
          <span class="data">{{ n.createdAt | date:'short' }}</span>
        </div>
        <button
          *ngIf="n.status !== 'READ'"
          type="button"
          class="btn-lida"
          (click)="marcarComoLida(n.id)"
        >
          Marcar como lida
        </button>
      </div>
    </div>

  
    <ng-template #semNotificacoes>
      <p class="sem-notificacoes">
        Nenhuma notificação no momento.
      </p>
    </ng-template>
  </ng-template>
</p-dialog>
