@use "primeicons/primeicons.css";

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.default-bg {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.christmas-bg {
  background-image: url("/backgroundnatal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.halloween-bg {
  background-image: url("/backgroundhallowen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-content {
  flex: 1; // faz o conteúdo ocupar espaço restante
}

* {
  font-family: "Inter", sans-serif;
  font-size: small;
}
