@use "primeicons/primeicons.css";

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("/background.png"); // fundo
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1; // faz o conteúdo ocupar espaço restante
}

* {
  font-family: 'Inter', sans-serif;
  font-size: small;
}


