@use "primeicons/primeicons.css";

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("/background.png"); // fundo
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1; // faz o conteúdo ocupar espaço restante
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem; // altura do footer
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 999;
  background: transparent;
}

.logo-central {
  width: 15rem;
  height: auto;
  animation: rainbow-glow-horizontal 5s infinite alternate;
  transform-style: preserve-3d; /* necessário para 3D */
  perspective: 1000px; /* dá profundidade ao giro */
}

@keyframes rainbow-glow-horizontal {
  0% {
    filter: drop-shadow(0 0 12px #d2fe32)
            drop-shadow(0 0 20px #ffff00)
            drop-shadow(0 0 10px hsl(300, 100%, 25%));
    transform: rotateY(0deg);
  }
  50% {
    filter: drop-shadow(0 0 20px #2988B1)
            drop-shadow(0 0 40px #ffff00)
            drop-shadow(0 0 10px #800080);
    transform: rotateY(180deg);
  }
  100% {
    filter: drop-shadow(0 0 10px #04c071)
            drop-shadow(0 0 20px #ffff00)
            drop-shadow(0 0 10px #0ba1dc);
    transform: rotateY(360deg);
  }
}

* {
  font-family: 'Inter', sans-serif;
  font-size: small;
}
